{% extends "ABME/Operador/menuoperador.html" %}

{% block contenido_operador %}


{% if refrescar %}

<script  type="text/javascript" charset="utf-8" async defer>
window.location.href = "/aplicacion/fichaoperador/{{refrescar}}";
</script>

{% endif %}


{% if id_operador %}

{% for elemento in id_operador %}
<div class='panel-body'>
        <form  class="form-horizontal">
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='usuario'>Usuario</label>
            <div class='col-md-4'>
              <input class='form-control' id='usuario' name='usuario' value="{{elemento.username}}" readonly></input>
            </div>
        </div>
       
       
       
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='first_name'>Nombre y apellido</label>
            <div class='col-md-4'>
              <input class='form-control' id='first_name' name='first_name' value="{{elemento.first_name}} {{elemento.last_name}}" readonly></input>
            </div>
        </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='direccion'>Dirección</label>
            <div class='col-md-4'>
              <input class='form-control' id='direccion' name='direccion' placeholder="Direccion" value="{{elemento.direccion}}" readonly></input>
            </div>
          </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='telefono'>Telefono</label>
            <div class='col-md-4'>
            
            		
             			<input class='form-control' id='telefono' name="telefono" placeholder='Telefono' type='text' value="{{elemento.telefono}}" readonly></input>
             		
            	</div>
           		
         </div>
          
         
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='correo'>E-mail</label>
            <div class='col-md-4 '>
                  <input class='form-control' id='correo' name='correo' placeholder='E-mail' type='text' value="{{elemento.email}}" readonly></input>
               </div> 
            	
           
          </div>
        
       
        
        
        <br><br><br>
      </div>
    </div>
  </div>



  </form>
        
{% endfor %}

{% endif %}


{% endblock contenido_operador %}