{% extends 'index.html'%}
{% block htitle %}<title>Gestión de usuarios</title>{% endblock %} 

{% block contenido%}



        
<div class='panel-body'>



                 

              <nav class="navbar navbar-default" role="navigation">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                   para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
    
                    </div>
 
                    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                    otro elemento que se pueda ocultar al minimizar la barra -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav"></ul>

                    <div >
 
                <!-- REGISTRAR NUEVO PACIENTE -->
 


                  

                  <ul class="nav navbar-nav navbar-right">

                    <li><a href="/usuario/registraroperador/">Nuevo Usuario </a></li>
                  </ul>

          
              </nav>

              <h3><i>Gestión de usuarios</i></h3>
                <br>
                 <i>*Seleccione la fila correspodiente del usuario para ver la informacion o realizar operaciones.</i>
                  <br><i>*Utilize el filtro del buscador con el nombre de usuario</i>

        </div>



 
 
<div class="table-responsive">             
  <table style="cursor:pointer" class='table' id='table' data-pagination="true" data-height="440" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
    <thead>
      
      <tr class="success">
        <th class="text-center info">Usuario</th>
        <th class="text-center info">Nombre</th>
        <th class="text-center info">Apellido</th>
        <th class="text-center info">Categoria</th>
        <th class=" text-center info">Email</th>
        <th class=" text-center info">Resetear contraseña</th>
        <th class=" text-center info">Eliminar</th>
      </tr>
    
    </thead>
    <tbody>

    {% if operador %}
    {% for elemento in operador %}
      <tr >
      

        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/fichaoperador/{{elemento.id}}'>{{elemento.username}}</td>
        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/fichaoperador/{{elemento.id}}'>{{elemento.first_name}}</td>
        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/fichaoperador/{{elemento.id}}'>{{elemento.last_name}}</td>
        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/fichaoperador/{{elemento.id}}'>{{elemento.categoria}}</td>
        
        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/fichaoperador/{{elemento.id}}'>{{elemento.email}}</td>
      
           
           
        <td td class="col-md-2 text-center warning clickable-row" data-href='/usuario/resetpass/{{elemento.id}}'><i class="glyphicon glyphicon-lock"></i></td>
           

        <td class="col-md-1 text-center warning"><img onclick='eliminar({{elemento.id}},"{{elemento.username}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/eliminar.gif" alt=""></td>



      </tr>

     {% endfor %} 
      {% endif %}


      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>




<script type="text/javascript" charset="utf-8" async defer>
    
    
$('#table').bootstrapTable();

$(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
$(document).on('click', ".clickable-row", function () {
        window.document.location = $(this).data("href");
});


    function eliminar(id,username)
{
  
    alertify.set({ labels: {
            ok     : "Confirmar",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("El usuario: <b>"+username+"</b> será desactivado, ¿Esta de acuerdo?", function (e) {


          if (e) {
            
            window.location.href = "/usuario/operadore/"+id;
          
          } else {
            
            window.location.href = "/usuario/operador/";
        }
        
      });


 }


 

   $("button[id=btn_nuevo_paciente]").click(function() {

      
  alertify.defaults.glossary.title = '';

      alertify.confirm("Confirmar eliminacion  "+apellidonombre,
            function (e) {
                if (e) {
                   window.location = "/aplicacion/eliminarpaciente/"+id_paciente;
                } else {
                    alertify.error("Has pulsado <strong>"
                             + alertify.labels.cancel
                             + "</strong>");
                }
        }).setting('labels',{'ok':'Confirmar', 'cancel': 'Cancelar'});
    });






</script>




{% endblock %}







