{% extends 'index.html'%}
{% block htitle %}<title>MGD</title>{% endblock %} 

{% block contenido%}



 <div class='' >
      <div class='panel panel-primary dialog-panel'>
          <div class='panel-body'>

              <fieldset>
                 <legend>Solicitudes Finalizadas</legend>
                 
            
              <div class="row">
                <form  method="POST"  enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <div class="col-md-4 text-left soli">
                      
                      <select name="id_solicitud" id="id_solicitud" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                          <option value=""></option>
                          {% for elemento in busqueda_solicitud %}
                          <option value="{{elemento.id}}" >SOLICITUD {{elemento.id}} --DNI: {{elemento.paciente.dni}} </option>
                          {% endfor %}
                      </select>
                    </div>
    
                    <div>
                      <button class="col-md-2 btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form> 
              </div>
        
            </fieldset>


    {% if solicitud %}
    {% for elemento in solicitud %}
  <script  type="text/javascript" charset="utf-8" async defer>

      $("div.soli select").val('{{elemento.id}}');
        

        

    </script>

    {% endfor %}



    {% endif %}        
 
 <script type="text/javascript" charset="utf-8" async defer>
    
$(".chosen-select").chosen({no_results_text: "No se encontro solicitud"});

</script>

{% if solicitud %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr class="success">
        
        <th class="text-center">N° de solicitud</th>
        <th class="text-center">Fecha inicio</th>
        <th class="text-center">Fecha de entrega</th>
        <th class="text-center">Solicitante</th>
       
        
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in solicitud %}


    

      {% ifequal elemento.estado_aprobacion "ENTREGADO"  %}


    
      
       <tr>
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">{{elemento.fecha_inicio}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">{{elemento.fecha_entrega}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">DNI:{{elemento.paciente.dni}}, {{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
       


        

      </tr>


      {% endifequal %}

       

     {% endfor %} 



      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}




 {% if solicitudes %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr class="success">
        
        <th class="text-center">N° de solicitud</th>
        <th class="text-center">Fecha inicio</th>
        <th class="text-center">Fecha de entrega</th>
        <th class="text-center">Solicitante</th>
       
        
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in solicitudes %}




      {% ifequal elemento.estado_aprobacion "ENTREGADO"  %}
      
       <tr>
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">{{elemento.fecha_inicio}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">{{elemento.fecha_entrega}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/solicitud_movimientos/{{elemento.id}}'"  style="cursor:pointer">DNI:{{elemento.paciente.dni}}, {{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
       


        

      </tr>


      {% endifequal %}

       

     {% endfor %} 



      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}

</div>
</div>
</div>






{% endblock %}