{% extends 'index.html'%}
{% block htitle %}<title>MGD</title>{% endblock %} 

{% block contenido%}




 

  <div class='panel-body'>

                <h3><i>Solicitudes pendientes de entrega</i></h3>
                <br>
                 <i>*Seleccione una solicitud para ver su informacion o realizar la entrega correspondiente.</i>
                  <br><i>*Utilize el filtro del buscador ya sea con el numero de DNI o  apellido y nombre del solicitante.</i>
                 
            
        </div>


<br>
<br>
 

 <br>

 




         
  <table style="cursor:pointer" class='table' id='table' data-pagination="true" data-height="440" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
    <thead>
      <tr class="success">
        
        <th class="text-center info">N° de solicitud</th>
        <th class="text-center info">Estado Actual</th>
        <th class="text-center info">Fecha de inicio</th>
        <th class="text-center info">Dni</th>
       <th class="text-center info"> Solicitante</th>
        
        
        
        
      </tr>
    </thead>
    <tbody>

    {% if solicitud%}
    {% for elemento in  solicitud %}



     {% ifequal elemento.estado_aprobacion "APROBADO"  %}



     
      
      <tr class='clickable-row' data-href='{{elemento.id}}'>
       

        <td class="col-md-2 text-center warning">#{{elemento.id}}</td>
        <td class="col-md-2 text-center warning">{{elemento.estado_aprobacion}}</td>
        <td class="col-md-2 text-center warning">{{elemento.fecha}}</td>
        <td class="col-md-2 text-center warning">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center warning">{{elemento.paciente.apellido}} {{elemento.paciente.nombre}}</td>
        
 
      </tr>

      {% endifequal %}

      {% ifequal elemento.estado_aprobacion "PARCIAL"  %}

        <tr class='clickable-row' data-href='{{elemento.id}}'> 

        <td class="col-md-2 text-center danger">#{{elemento.id}}</td>
        <td class="col-md-2 text-center danger">{{elemento.estado_aprobacion}}</td>
        <td class="col-md-2 text-center danger">{{elemento.fecha}}</td>
        <td class="col-md-2 text-center danger">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center danger">{{elemento.paciente.apellido}} {{elemento.paciente.nombre}}</td>
       


       </tr>


        {% endifequal %}

        
     {% endfor %} 

     {% endif %}

      
    </tbody>
  </table>
</div>


 



 







</div>
</div>



<script type="text/javascript" charset="utf-8" async defer>
    
  




$('#table').bootstrapTable();

 $(".clickable-row").click(function() {
       
        $( "#id_solicitud_informacion" ).val($(this).data("href"));
        $("#solicitud_informacion").submit();
    });

</script>

<form  id='solicitud_informacion' method='POST' action='/aplicacion/farmacia_entrega/' enctype='multipart/form-data' class='form-horizontal'>{% csrf_token %}
  <input class='form-control' id='id_solicitud_informacion' name='id_solicitud_informacion'  type="hidden" value=''/>
  

</form>




{% endblock %}