{% extends 'index.html'%}
{% block htitle %}<title>MGD</title>{% endblock %} 

{% block contenido%}
 
			<div class="panel panel-info">
      			<div class="panel-heading"><div class='col-md-offset-5'>Datos de la solicitud N° {% for i in solicitud_enviado %}{{i.id}}{% endfor %}</div></div>
			
			
      
      			<div class='panel-body'>
      		
					<form  id='entrega_completa' method='POST' action='/aplicacion/registro_entrega/' enctype='multipart/form-data' class='form-horizontal'>{% csrf_token %}

					<br>
					<br>
		
            
      				<div class="form-group">
         			<label for="paciente" class="control-label col-md-3 col-md-offset-1 ">Solicitud N°</label> 
         				<div class="col-md-5">

            				{% for elemento in solicitud_enviado %}
            	
            					<input class="form-control" id="idsolicitud4" name="idsolicitud4" type="text" readonly="readonly" value="{{elemento.id}}"/>
            				{% endfor %}
          				</div>
      				</div>
        
        			<div class="form-group">
          				<label for="paciente" class="control-label col-md-3 col-md-offset-1">Solicitante:</label> 
          				<div class="col-md-5">
            				{% for elemento in solicitud_enviado %}
            					<input class="form-control" id="id_paciente" name="id_paciente" type="hidden" value="{{elemento.paciente.id}}"/>
            					<input class="form-control"  type="text" readonly="readonly" value="{{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}. DNI: {{elemento.paciente.dni}}"/>
            				{% endfor %}
          				</div>
        			</div>
       

        			<div class="form-group">
          				<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Historia Clinica:</label> 
          				<div class="col-md-5">
            
            				{% for elemento in solicitud_enviado %}
            
            				<input class="form-control"  type="text" readonly="readonly" value="{{elemento.paciente.historiaclinica}} " readonly />
            				{% endfor %}
            
          				</div>
        			</div>

       

        			<div class="form-group">
          				<label for="paciente" class="control-label  col-md-3  col-md-offset-1 ">Medico a cargo:</label> 
          				<div class="col-md-5">
            				{% for elemento in solicitud_enviado %}
            				<input class="form-control"  type="text" readonly="readonly" value="{{elemento.medico.apellido}}, {{elemento.medico.nombre}}" readonly />
            				{% endfor %}
            
          				</div>
        			</div>

				<br>
				<br>
      			
      	<div class="panel panel-success">
     			
     			<div class='panel-heading'>
					<div class='col-md-offset-5'>Detalles de la solicitud</div>
     			 </div>
     			 </div>
     			 
    
      				<br><br>

      				


      				<div id='generico-1' style="display:none; ">
        
						      <div class="form-group">
          					 <label for="paciente" class="control-label  col-md-3 col-md-offset-1">Nombre del generico(1):</label> 
          					 <div class="col-md-5">
            					 {% for elemento in solicitud_enviado %}
            						  <input class="form-control"  type="text" readonly="readonly" value="{{elemento.medicamento1.generico}}" readonly />
            					 {% endfor %}
            
          					 </div>

                     <a  id='tilde1' style="display:none; ">
                      <img title='Entregado' src="/static/media/simbolo-aprobacion.png" alt="Agregar" height="20" width="20">
                    </a>
                    <a  id='atencion1' >
                      <img title='No Entregado' src="/static/media/warning-large.png" alt="Agregar" height="25" width="25">
                    </a>
        				  </div>
                

        			</div>
        

        				<div class="form-group">
          					<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Dosis Diaria(1):</label> 
          						<div class="col-md-5">
            						{% for elemento in solicitud_enviado %}
            							<input class="form-control" readonly="readonly" type="text" value="{{elemento.dosis1}}" " />
            						{% endfor %}
         						</div>
        				</div>
        			<br>
        

        			<div id='generico-2' style="display:none; ">
          	
          				<div class="form-group">
            				<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Nombre del generico(2):</label> 
            				<div class="col-md-5">
            					{% for elemento in solicitud_enviado %}
            						<input class="form-control"  type="text" id='generico2' name='generico2' readonly="readonly" value="{{elemento.medicamento2.generico}}" readonly />
              					{% endfor %}
            
            				</div>
                    <a  id='tilde2' style="display:none; ">
                      <img title='Entregado' src="/static/media/simbolo-aprobacion.png" alt="Agregar" height="20" width="20">
                    </a>
                    <a  id='atencion2' >
                      <img title='No Entregado' src="/static/media/warning-large.png" alt="Agregar" height="25" width="25">
                    </a>
          				</div>
						
						<div class="form-group">
            				<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Dosis Diaria(2):</label> 
            				<div class="col-md-5">
              					{% for elemento in solicitud_enviado %}
              						<input class="form-control" readonly="readonly" id='dosis2' name='dosis2' type="text" value="{{elemento.dosis2}}" " />
              					{% endfor %}
            				</div>
          				</div>
        				<br>
        
        			</div>
        

        			<div id='generico-3' style="display:none; " >
        				<div class="form-group ">
          					<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Nombre del generico(3):</label> 
          					<div class="col-md-5">
            
            					{% for elemento in solicitud_enviado %}
            
            						<input class="form-control"  type="text" readonly="readonly" id='generico3' name='generico3'  value="{{elemento.medicamento3.generico}}" readonly />
            					{% endfor %}
            
          					</div>

                    <a  id='tilde3' style="display:none; ">
                      <img title='Entregado' src="/static/media/simbolo-aprobacion.png" alt="Agregar" height="20" width="20">
                    </a>
                    <a  id='atencion3'>
                      <img title='No Entregado' src="/static/media/warning-large.png" alt="Agregar" height="25" width="25">
                    </a>
        				</div>

        

        				<div class="form-group">
          					<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Dosis Diaria(3):</label> 
          					<div class="col-md-5">
            					{% for elemento in solicitud_enviado %}
            						<input class="form-control" readonly="readonly" type="text" id='dosis3' name='dosis3' value="{{elemento.dosis3}}" " />
            					{% endfor %}
         					</div>
        				</div>
        				<br>
      				
        			</div>

        			<script  type="text/javascript" charset="utf-8" async defer>
          
          			
                var generico1 = $("#generico1").val();
        				var generico2 = $("#generico2").val();
        				var generico3 = $("#generico3").val();
        

        				if (generico1!=""){


          					$('#generico-1').show();
        				}


        				if (generico2!=""){


          					$('#generico-2').show();
        				}



        				if (generico3!=""){


          					$('#generico-3').show();
        				}

					</script>

        			

	        		
        			<div class="form-group">
	          			<label class="control-label  col-md-3 col-md-offset-1">Diagnostico:</label> 
          				<div class="col-md-5">
          					{% for elemento in solicitud_enviado %}
            
          						<textarea class="form-control" type='text' cols="40" id="comparcial" style='width:427px;height: 102px;' name="comparcial" rows="10" readonly>{{elemento.diagnostico}}</textarea>
          					{% endfor %}
          					<input class='form-control' type='hidden' id='user_id_farmacia' name='user_id_farmacia' value=''/>	
          				</div>
	     			</div>



	     			
	     			 

					<br>
					<br>
		
					{% if user.is_authenticated %}
              
              
					<script  type="text/javascript" charset="utf-8" async defer>
                
    					var user_id="{{user.userfarmacia.id}}";
    					$("#user_id" ).val(user_id);
    
 					</script>     

 					{% endif %}
 				
 				



			<div class="panel panel-warning">
     			
     			<div class='panel-heading'>
					<div class='col-md-offset-5'>Detalles de entrega</div>
     			 </div>
     			 
     			</div>

     			 
    
      				<br><br>

      				



        
						<div class="form-group">
          					<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Fecha y Horario:</label> 
          					<div class="col-md-5">
            					{% for elemento in estado_parcial %}
            						<input class="form-control"  type="text" readonly="readonly" value="{{elemento.fecha_estado}}" readonly />
            					{% endfor %}
            
          					</div>
        				</div>

        

        				<div class="form-group">
          					<label for="paciente" class="control-label  col-md-3 col-md-offset-1">Farmacia que realizo la entrega:</label> 
          						<div class="col-md-5">
            						{% for elemento in estado_parcial %}
            							<input class="form-control" readonly="readonly" type="text" value="{{elemento.farmacia.razon_social}}" " />
            						{% endfor %}
         						</div>
        				</div>
        			<br>
        			<br>


			<div class="form-group" id='comercial-1' style="display:none; ">
				<br>
				<br>

					<label for="generico1" class="control-label  col-md-2 ">Generico #1:</label> 
					
					<div class="col-md-3 col-md-offset-0">
						{% for elemento in solicitud_enviado %}
						<input class="form-control" id="generico1" name="generico1" type="text" value="{{elemento.medicamento1.generico}}" placeholder="Escriba aqui..." readonly />
						{% endfor %}
						
					</div>

					<label for="paciente" class="control-label  col-md-2 col-md-offset-0">Nombre Comercial: </label> 
					
					<div class="col-md-3 col-md-offset-0">
						
						{% for elemento in estado_parcial %}
						<input class="form-control" id="comercial1" name="comercial1" type="text" value="{{elemento.comercial1}}" readonly />

						{% endfor %}
						
					</div>

					<div class="col-md-2 col-md-offset-0">
						{% for elemento in estado_parcial %}
						<input class="form-control" id="precio1" name="precio1" type="text" value="$ {{elemento.precio1}}" readonly " />
						{% endfor %}
					</div>

					
				</div>

				<div class="form-group " id='comercial-2' style="display:none; " >
				<br>
				<br>
					<label for="paciente" class="control-label  col-md-2 col-md-offset-0">Generico #2:</label> 
					
					<div class="col-md-3 col-md-offset-0">
						{% for elemento in solicitud_enviado %}
						<input class="form-control" id="generico2" name="generico2" type="text" value="{{elemento.medicamento2.generico}}" placeholder="Escriba aqui..." readonly />
						{% endfor %}
						
					</div>

					<label for="paciente" class="control-label  col-md-2 col-md-offset-0">Nombre Comercial:</label> 
					
					<div class="col-md-3 col-md-offset-0">
						{% for elemento in estado_parcial %}
						<input class="form-control" id="comercial2" name="comercial2" type="text" value="{{elemento.comercial2}}" readonly />

						{% endfor %}
						
					</div>

					<div class="col-md-2 col-md-offset-0">
						
						{% for elemento in estado_parcial %}
						<input class="form-control" id="precio2" name="precio2" type="text" value="$ {{elemento.precio2}}" readonly " />
						{% endfor %}
						
					</div>

					
				</div>

				<div class="form-group" id='comercial-3' style="display:none; " >
				<br>
				<br>
					<label for="paciente" class="control-label  col-md-2 col-md-offset-0">Generico #3:</label> 
					
					<div class="col-md-3 col-md-offset-0">
						{% for elemento in solicitud_enviado %}
						<input class="form-control" id="generico3" name="generico3" type="text" value="{{elemento.medicamento3.generico}}" placeholder="Escriba aqui..." readonly />
						{% endfor %}
						
					</div>

					<label for="paciente" class="control-label  col-md-2 col-md-offset-0">Nombre Comercial :</label> 
					
					<div class="col-md-3 col-md-offset-0">
						
						{% for elemento in estado_parcial %}
						<input class="form-control" id="comercial3" name="comercial3" type="text" value="{{elemento.comercial3}}" readonly />

						{% endfor %}
						
					</div>

					<div class="col-md-2 col-md-offset-0">
						
						{% for elemento in estado_parcial %}
						<input class="form-control" id="precio3" name="precio3" type="text" value="${{elemento.precio3}}" readonly " />
						{% endfor %}
						
					</div>

          


					
				</div>
        <br>

        <div class="form-group"  >
          <br>
          <label for="paciente" class="control-label  col-md-2 col-md-offset-8">Precio Total:</label> 
          
          <div class="col-md-2 col-md-offset-0">
            {% for elemento in estado_parcial %}
            <input class="form-control"  type="text" value="{{elemento.preciototal}}"  readonly />
            {% endfor %}
            
          </div>

         

          


          
        </div>
            
          
				<br>
				<br>
        <br>
        <br>
        <br>

        			<div class="form-group">
						    <div class='col-md-offset-9 col-md-3'>
							     <button class='btn-lg btn-primary' style='float:right' type='submit'>Siguiente</button>
            		</div>
					</div>

			
				</form>
		</div>
	</div>


<script  type="text/javascript" charset="utf-8" async defer>
          	
          	
    var comercial1 = $("#comercial1").val();
    var comercial2 = $("#comercial2").val();
    var comercial3 = $("#comercial3").val();
   
        	
        	
    if (comercial1!=""){

       
        $('#comercial-1').show();
        $('#tilde1').show();
        $('#atencion1').hide();
        }


    if (comercial2!=""){

        
         $('#comercial-2').show();
         $('#tilde2').show();
        $('#atencion2').hide();
       	}

        
    if (comercial3!=""){
       
        $('#comercial-3').show();
        $('#tilde3').show();
        $('#atencion3').hide();
     }

        	
   

        			 
</script>





{% endblock %}