{% extends "index.html" %} 
{% block htitle %}<title>Eliminar Medico</title>{% endblock %} 
{% block title %}<h1 class="page-header">Eliminar Medico</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  {% if errors %} 
		<ul> 
		{% for error in errors %} 
		<li style="color: red;">{{ error }}</li> 
		{% endfor %} 
		</ul> 
  {% endif %} 
  
  <form action="" method="GET">
  
 	<div class="form-group">
			<label for="p" class="">Criterio:</label>
			
			<div class=""> 
				<select class="form-control" id="p" name="p">
					<option value="" selected="selected">---------</option>
					<option value="nombre">Nombre</option>
					<option value="apellido">Apellido</option>
					
				</select>
			</div>
	</div>
	
	<div class="form-group"  >	
    <label for="q">Buscar: </label>
    <input class="form-control" type="text" name="q" value="{{ query|escape }}">
    </div>
    <div class="form-group">
    <input class="form-control" type="submit" value="Buscar">
    </div>
  </form>
  </div>
{% if query %}
  <div class="container">
  <p>Estas buscando: <strong>{{ query }}</strong></p> 
 
{% if medicos %} 
	<p>Medicos encontrados: {{ medicos|length }} medico{{ medicos|pluralize }}.</p> 
	<ul> 
		{% for medicos in medicos %} 

	<div class="table-responsive" >

	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr class="info">
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Especialidad</th>
			<th>Correo</th>
			<th>Celular</th>
			<th>Obervaciones</th>
			
			
			
		</tr>
		<tr>
			<td>{{medicos.id}}</td>
			<td>{{medicos.nombre}}</td>
			<td>{{medicos.apellido}}</td>
			<td>{{medicos.especialidad}}</td>
			<td>{{medicos.correo}}</td>
			<td>{{medicos.celular}}</td>
			<td>{{medicos.observaciones}}</td>
		</tr>
	</table>
	</div>
	 <form action="/aplicacion/meliminado/" method="GET">
	
		<div class="form-group"  >	
    		<label for="i">Eliminar</label>
    			<input class="form-control" type="hidden" name="i" value="{{medicos.id}}">
    	</div>
    
    	<div class="form-group">
    		<input class="form-control" type="submit" value="Eliminar">
    	</div>
	
	</form> 
			 
			 
		{% endfor %} 
	</ul> 
{% else %} 
<p>Ningún medico coincide con el criterio de búsqueda.</p> 
{% endif %} 
{% endif %} 
  
{%endblock%}