

<br>


<div class="container">

	<div class="form-group">
	
		<label class="control-label col-md-2">Apellido</label>
		
		<label  class="control-label col-md-2">Nombre</label>

		<label  class="control-label col-md-2">Especialidad</label>


	</div>

</div>
<br>
{% for elemento in medico %}



<div class="container">

	<div class="form-group">
	
		<label  class="control-label col-md-2">{{elemento.apellido}}</label>
		
		<label  class="control-label col-md-2">{{elemento.nombre}}</label>

		<label  class="control-label col-md-2">{{elemento.especialidad}}</label>

		<a href="/aplicacion/modificarmedico/{{elemento.persona_ptr_id}}"><button  class="control-label col-md-2">Modificar</button></a>

	</div>

</div>


{% endfor %}





	
	

	
  




