{% extends 'index.html'%}

{% block htitle %}<title>Medico</title>{% endblock %} 
{% block title %}<h1 class="page-header">Medico</h1>{% endblock %}{{ variable }}

{% block contenido%}
<a href="/aplicacion/registrarmedico"><button class="btn btn-primary">Registrar Medico</button></a>
<button class="btn btn-primary">Buscar Medico</button>
<a href="/aplicacion/modificarmedico"><button class="btn btn-primary">Modificar Medico</button></a>
<a href="/aplicacion/eliminarmedico"><button class="btn btn-primary">Eliminar Medico</button></a>

<br>
<br>

{% include 'ABME/Medico/listadomedico.html' %}



{% endblock %}


