{% extends 'index.html'%}
{% block htitle %}<title>Profesionales</title>{% endblock %} 

{% block contenido%}
<style type="text/css" media="screen">
  


html, body, div, iframe { margin:0; padding:0; height:100%; }
iframe { display:block; width:100%; border:none; }



.table-responsive {height:350px;}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
 
select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
 
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}


  
</style>

<br>
<br>

<fieldset>
    <legend>Profesoniales</legend>
   
    <div class="col-md-offset-10"> <a  href="/aplicacion/registrarmedico"><button class="btn btn-success ">Agregar</button></a>
</div>

    


<div class="row">
    <form  method="POST"  enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
            <div class="col-md-4 text-left">
            
                <select name="id_medico" id="id_medico" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             

                <option value=""></option>
                {% for elemento in busqueda_medico %}
                    <option value="{{elemento.persona_ptr_id}}" >{{elemento.apellido}}, {{elemento.nombre}} --Dni: {{elemento.dni}}</option>
                {% endfor %}
        
                </select>
            </div>
    
            <div>
                <button class="col-md-2 btn btn-primary" type="submit">Buscar</button>
            </div>
    </form> 
</div>
     
  </fieldset>
 
 {% if id_medico %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class=" text-center"></th>
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Especialidad</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in id_medico %}
      <tr>
        <td class="col-md-1 text-center"><a href="/aplicacion/fichamedico/{{elemento.id}}/"><button class=" btn btn-success btn-sm"  >Ver ficha</button></a>
        <td class="col-md-2 text-center">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <td class="col-md-2 text-center">{{elemento.dni}}</td>
        <td class="col-md-2 text-center">{{elemento.especialidad}}</td>
        
         
      </tr>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
    <br><br>
</div>
</div>
 {% endif %}

 {% if medico %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class=" text-center"></th>
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Especialidad</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in medico %}
      <tr>
        <td class="col-md-1 text-center"><a href="/aplicacion/fichamedico/{{elemento.id}}/"><button class=" btn btn-success btn-sm">Ver ficha</button></a>
        <td class="col-md-2 text-center">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <td class="col-md-2 text-center">{{elemento.dni}}</td>
        <td class="col-md-2 text-center">{{elemento.especialidad}}</td>
        
         
      </tr>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
            
</div>
</div>
 {% endif %}


<script type="text/javascript" charset="utf-8" async defer>
    
    $(".chosen-select").chosen({no_results_text: "No existe ese medico"});

</script>





{% endblock %}





