{% extends "index.html" %} 

{% block htitle %}<title>Ficha de profesional</title>{% endblock %} 
 


{% block contenido %} 
	

 
{% if exitomedico %}<script >alertify.success("Se registro correctamente");</script>{% endif %}
{% if exito_modificar_medico %}<script >alertify.success("Se modificaron los datos correctamente");</script>{% endif %}

{% if id_medico %}

{% for elemento in id_medico %}



<div class='container'>
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5>{{elemento.apellido}}, {{elemento.nombre}}</h5>
      </div>
      <div class="navbar navbar-inverse navbar-fixed ">
  	<div class="container-fluid ">
      <div class="navbar-header">
        	<ul class="nav navbar-nav navbar-right">
  				<li><a href="/aplicacion/fichamedico/{{elemento.id}}">Ficha</a></li>
  				<li><a href="">Pacientes intervenidos</a></li>
  				<li><a href="/aplicacion/modificarmedico/{{elemento.id}}">Modificar</a></li>
  				<li><a  id="confirmacion">Eliminar</a></li>
			</ul>
      </div>
  	</div>
</div>
      
<script type="text/javascript" charset="utf-8" async defer>
	
var apellidonombre ='{{elemento.apellido}}, {{elemento.nombre}} <strong>Cuil:{{elemento.cuil}}';
var id_medico='{{elemento.id}}'

</script>


	{% block contenido_medico %}	        	

	{% endblock contenido_medico %}


{% endfor %}
{% endif %}


<script type="text/javascript" charset="utf-8" async defer>



    $("#confirmacion").click(function() {

    	
	alertify.defaults.glossary.title = '';

    	alertify.confirm("Confirmar eliminacion  "+apellidonombre,
            function (e) {
                if (e) {
                   window.location = "/aplicacion/eliminarpaciente/"+id_paciente;
                } else {
                    alertify.error("Has pulsado <strong>"
                             + alertify.labels.cancel
                             + "</strong>");
                }
        }).setting('labels',{'ok':'Confirmar', 'cancel': 'Cancelar'});
    });


  
 
   

    
</script>
{% endblock %} 
