{% extends "ABME/Medicamento/menumedicamento.html" %}
{% block contenido_remedio %}

{% if id_remedio %}

{% for elemento in id_remedio %}
<div class='panel-body'>
        <form  class="form-horizontal">
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='generico'>Nombre genérico*</label>
            <div class='col-md-8'>
              
              <div class='col-md-4 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='generico' name="generico" placeholder='Nombre genérico' value="{{elemento.generico}}" readonly type='text'>
                </div>
              </div>
              
            </div>
          </div>
        
                
         {% if error %}
          {% for elemento in error %}
          <div class='form-group'>

       
             <label class='control-label col-md-5 col-md-offset-3' >{{elemento}}</label>
          
             
            
          </div>
          {% endfor %}
        {% endif %}
         <!-- 
         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='presentacion'>Presentacion</label>
            <div class='col-md-2'>
              <input class='form-control' id='presentacion' name='presentacion' value="{{elemento.presentacion}}" readonly ></input>
            </div>
        </div>
         
          
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Observaciones</label>
            <div class='col-md-6'>
              <input class='form-control' id='observaciones' name='observaciones' value="{{elemento.observaciones}}" readonly ></input>
            </div>
          </div>
         
        </form>
          
            <div>
            
              <button id="confirmacion" class='btn-lg btn-info' style='float:right' type='submit' onclick="cerrarse()">Continuar</button>
            </div>
         -->
        
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
  {% endblock contenido_remedio  %}