{% extends "admin/base_site.html" %}
{% load i18n %}{% load url from future %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Password change' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Password change successful' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">{% trans 'Your password was changed.' %}</p>


       <a id='paciente' style="display:none;"  href='/aplicacion/paciente'   > <button type="submit" class="btn btn-primary">Continuar</button></a>
<a id='farmacia' style="display:none;"  href='/aplicacion/farmacia_entrega'   > <button type="submit" class="btn btn-primary">Continuar</button></a>

{% if user.useroperador.categoria == 'OPERADOR' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#paciente').show();
     



        </script>
  

    {% endif %}


{% if user.userfarmacia.categoria == 'FARMACIA' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#farmacia').show();


        </script>

        {% endif %}
{% endblock %}

