
{% extends 'index.html'%}

{% block contenido%}




  <div class='container' >
    <div class='panel panel-primary dialog-panel'>
      
      <div class='panel-body' id="miForm">
        <form  id="miForm"  class="form-horizontal">
        
        <div class='form-group' >
            <label class='control-label col-md-2'>Generar CUIL:</label>
           
            <div class="col-xs-2">
                <div class="form-group">
                    
                    <select class="form-control smallselect" id='sexo' >
                        <option value="">--</option>
                        <option value="MASCULINO">MASCULINO</option>
                        <option value="FEMENINO">FEMENINO</option>
                        
                    </select>     
                </div>
            </div>
       
           <div class="row">
          
            <div class="col-md-2 ">
               
                <input class='form-control' id='dni' name="dni"  type='text' maxlength="8" placeholder="Dni">
                 
            
            </div>
            
       
            <div class="col-xs-2">
                <div class="form-group">
                    <div id='continuar' name='continuar' value="Continuar" class="btn btn-danger btn-block" />Generar</div>
                </div>
            </div>
       
    </div>
<br>

         <div class='form-group' >
            <label class='control-label col-md-2 '>CUIL:</label>
           

           <div class="row">
          
            <div class="col-md-1 ">
               
                <div class="form-group cuil1">
                   
                    <select class="form-control smallselect cuil1" id='cuil1'>
                        <option value="">--</option>
                        <option value="20">20 -</option>
                        <option value="23">23 -</option>
                        <option value="27">27 -</option>
                        
                    </select>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="form-group input-group dni">

                {% if datos_recibidos.cuil %}
            <input class='form-control' id='dni' name="dni"  type='text' maxlength="8" value='{{datos_recibidos.cuil.dni}}'>
            {% else %}

            <input class='form-control' id='dni' name="dni"  type='text' maxlength="8">
              {% endif %}
                    
                    
                </div>
            
            </div>
            
            <div class="col-xs-1">
                <div class="form-group cuil2">
                    
                    <select class="form-control smallselect" id='cuil2' >
                        <option value="">--</option>
                        <option value="0"> 0</option>
                        <option value="1"> 1</option>
                        <option value="2"> 2</option>
                        <option value="3"> 3</option>
                        <option value="4"> 4</option>
                        <option value="5"> 5</option>
                        <option value="6"> 6</option>
                        <option value="7"> 7</option>
                        <option value="8"> 8</option>
                        <option value="9"> 9</option>
                    </select>     
                </div>
            </div>
       
        
        
            <div class="col-xs-2">
                <div class="form-group">
                    <div id='continuar' name='continuar' value="Continuar" class="btn btn-primary btn-block" />Continuar</div>
                </div>
            </div>
       
    </div>
          {% if datos_recibidos.cuil %}
            <script>$("div.cuil1 select").val("{{datos_recibidos.cuil.cuil1}}");</script>
            <script>$("div.cuil2 select").val("{{datos_recibidos.cuil.cuil2}}");</script>
          {% endif %}
          

          


  </form>
        <br>
        <br>



        {% if datos_recibidos.id_paciente_activo %}


            <table class="table table-bordered" >
              <tbody>
                  <!-- Aplicadas en las filas -->
                    <tr class="active">Este CUIL pertenece a un paciente "ACTIVO". </tr>

 
                    <!-- Aplicadas en las celdas (<td> o <th>) -->
              <br>
              <br>
                {% for elemento in datos_recibidos.id_paciente_activo %}


              <tr align="center">
                <td class="warning"><a href="/aplicacion/fichapaciente/{{elemento.id}}/">Ver ficha</a></td>
                <td class="warning">CUIL: {{elemento.cuil}}</td>
                <td class="warning">Nombre: {{elemento.nombre}}</td>
                <td class="warning">Apellido: {{elemento.apellido}}</td>
              </tr>
                {% endfor %}
            </tbody>

            </table>


      {% endif %}

         {% if datos_recibidos.id_paciente_inactivo %}
            {% for elemento in datos_recibidos.id_paciente_inactivo %}
              <div class='form-group'>

              <div class="row">
          
                <div class="col-md-11">
                  <label class='col-md-7 col-md-offset-1'>Este CUIL pertenece a un paciente que se encuentra inactivo. ¿Desea activarlo?</label>
                  <div type="button" class="btn btn-success btn-xs" id="activar">Si</div>
                  <div type="button" class="btn btn-danger btn-xs" id='no_activar'>No</div>
                </div>
            
                <script  type="text/javascript" charset="utf-8" async defer>
                  $("div[id=activar]").click(function () {
                    
                    window.location.href = "/aplicacion/eliminarpaciente/{{elemento.persona_ptr_id}}";
                  });
                </script>

                <script  type="text/javascript" charset="utf-8" async defer>
                  $("div[id=no_activar]").click(function () {
                    window.location.href = "/aplicacion/paciente/";
                  });
                </script>
            {% endfor %}
          {% endif %}
 
      </div>
    </div>
  </div>

<script type="text/javascript" charset="utf-8" async defer>
              
              $("div[id=continuar]").click(function () {
      
               var cuil1 = $("#cuil1").val();
               var dni = $("#dni").val();
               var cuil2 = $("#cuil2").val();
               var cuil=cuil1+dni+cuil2;
               window.location.href = "/aplicacion/comprobar/"+cuil;
            });
            </script>




{% endblock %}