{% extends "index.html" %} 

{% block htitle %}<title>Ficha de paciente</title>{% endblock %} 
 


{% block contenido %} 
	






{% if exitopaciente %}<script >alertify.success("Se registro correctamente");</script>{% endif %}
{% if exito_modificar_paciente %}<script >alertify.success("Se modificaron los datos correctamente");</script>{% endif %}


{% if id_paciente %}

{% for elemento in id_paciente %}



<div class=''>
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5  >{{elemento.apellido}}, {{elemento.nombre}}</h5>
        
      </div>
      <div class="navbar navbar-inverse navbar-fixed ">
  	<div class="container-fluid ">
      <div class="navbar-header">
        	<ul class="nav navbar-nav navbar-right">
  				<li id='ficha'><a href="/aplicacion/fichapaciente/{{elemento.id}}">Ficha</a></li>
  				<li id='solicitudes'><a href="/aplicacion/solicitudes/{{elemento.id}}">Solicitudes</a></li>
          <li id='aprobar_auditoria' style="display:none;"><a data-toggle="modal" data-target="#ModalAuditoria" style="cursor:pointer">Aprobar Solicitud</a></li>
          <li id='cancelar_solicitud' style="display:none;"><a data-toggle="modal" data-target="#ModalCancelar" style="cursor:pointer">Cancelar Solicitud</a></li>
  				<!--li id='derivaciones'><a href="/aplicacion/derivaciones/{{elemento.id}}">Derivaciones</a></li-->
  				<li id='modificar'><a href="/aplicacion/modificarpaciente/{{elemento.id}}">Modificar</a></li>
  				
          <li id='nueva_solicitud' style="display:none;" ><a href="/aplicacion/registrarsolicitud/{{elemento.persona_ptr_id}}">
            + Nueva Solicitud
            </a></li>
			</ul>
      </div>
  	</div>
</div>
      
<script type="text/javascript" charset="utf-8" async defer>
	
var apellidonombre ='{{elemento.apellido}}, {{elemento.nombre}} <strong>Cuil:{{elemento.cuil}}';
var id_paciente='{{elemento.id}}'

</script>


	{% block contenido_paciente %}	        	

	{% endblock contenido_paciente %}


{% endfor %}
{% endif %}


<script type="text/javascript" charset="utf-8" async defer>



    $("#confirmacion").click(function() {

    	alertify.set({ labels: {
            ok     : "Confirmar",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("Este paciente pasara a NO ACTIVO, ¿Esta de acuerdo?", function (e) {


          if (e) {
          window.location.href = "/aplicacion/eliminarpaciente/"+id_paciente;
          } else {
        window.location.href = "/aplicacion/fichapaciente/"+id_paciente;
         }
          });
  
  });
   

    
</script>
{% endblock %} 
