{% extends "ABME/Paciente/menupaciente.html" %}
{% block contenido_paciente %}
	

{% for elemento in id_paciente %}
	
<div class=''>
    
      <div class='panel-body'>
        <form  id="miForm" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='dni'>Dni</label>
            <div class='col-md-2'>
              <input class='form-control' id='dni' name='dni' type="text" value="{{elemento.dni}}" readonly></input>
            </div>
        
        </div>
          
         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='cuil'>Cuil</label>
            <div class='col-md-2'>
              <input class='form-control' id='cuil' name='cuil' type="text" value="{{elemento.cuil}}" readonly></input>
            </div>
        </div>
          
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='historialclinica'>Historia clinica</label>
            <div class='col-md-2'>
              <input class='form-control' id='historiaclinica' name='historiaclinica' type="text" value="{{elemento.historiaclinica}}" ></input>
            </div>
        </div>

        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='osocial'>Obra social</label>
            <div class='col-md-2'>
              <input class='form-control' id='osocial' name='osocial' type="text" value="{{elemento.osocial}}" ></input>
            </div>
        </div>

        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Nombre</label>
            <div class='col-md-8'>
              
              <div class='col-md-4 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='nombre' name="nombre" placeholder='Nombre' type='text' value="{{elemento.nombre}}" ></input>
                </div>
              </div>
              <div class='col-md-4 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='apellido' name="apellido" placeholder='Apellido' type='text' value="{{elemento.apellido}}" > </input>
                </div>

              </div>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='direccion'>Dirrecion</label>
            <div class='col-md-3'>
              <input class='form-control' id='direccion' name='direccion' type="text" placeholder="Direccion" value="{{elemento.direccion}}" ></input>
            </div>
          </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='telefono'>Telefono</label>
            <div class='col-md-8'>
            	<div class='col-md-3 indent-small'>
            		<div class='form-group internal'>
             			<input class='form-control' id='telefono' name="telefono" placeholder='Telefono' type='text' value="{{elemento.telefono}}" ></input>
             		</div>	
            	</div>
           		<div class='col-md-3 indent-small'>
            		<div class='form-group internal'>
             			<input class='form-control' id='celular' name="celular" placeholder='Alternativo' type='text' value="{{elemento.celular}}"></input>
             		</div>	
            	</div>
            </div>
         </div>
          
         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='nacimineto'>Fecha de nacimiento</label>
            <div class='col-md-8'>
              
              <div class='col-md-3'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' name='nacimiento' type='text' id='datepicker' value="{{elemento.nacimiento}}" ></input>
                  <span class='input-group-addon'>
                    <i class='glyphicon glyphicon-calendar'></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 sexo">
				<select class="form-control" id="sexo" name="sexo">
					<option value="">---Sexo---</option>
					<option value="MASCULINO">MASCULINO</option>
					<option value="FEMENINO">FEMENINO</option>
				</select>
			</div>
			<script>$("div.sexo select").val("{{elemento.sexo}}");</script>
            </div>
         </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='correo'>E-mail</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control' id='correo' name='correo' placeholder='E-mail' type='text' value="{{elemento.correo}}" ></input>
                </div>
            	</div>
           	</div>
          </div>
          
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Observaciones</label>
            <div class='col-md-6'>
              <textarea class='form-control' id='observaciones' name='observaciones' placeholder='Escribe aqui...' rows='3' >{{elemento.observaciones}}</textarea>
            </div>
         </div>
        
         <div class='form-group'>
           	<div class='col-md-offset-9 col-md-3'>
           	  <br>
              
              <button class='btn-lg btn-primary' style='float:right' type='submit'>Guardar</button>
            </div>
  		</div>

        </form>
      </div>
    </div>
 

{% endfor %}

<script>

$('#datepicker').datepicker({
	dateFormat: 'dd/mm/yy',
	changeYear: true,
	yearRange: "1900:2100"
	});
$.datepicker.regional[ "es" ]
    
$("#miForm").validate({
	errorClass: "claserror",
    validClass: "clasevalida",
    errorElement: 'erele',
		rules: {
	      	nombre: {
	        	required: true,
	        	lettersonly: true,
				maxlength: "20"
	      	},
			razon_social: {
	        	required: true,
	        	lettersonly: true,
				maxlength: "25"
	      	},
			especialidad: {
	        	required: true
	      	},
			matriculaprovincial: {
	        	required: true,
				maxlength: "20"
	      	},
			matriculanacional: {
	        	required: true,
				maxlength: "20"
	      	},
	      	apellido: {
	        	required: true,
	        	lettersonly: true,
				maxlength: "20"
	      	},
	      	dni: {
	        	required: true,
	        	digits: true,
	        	minlength: "8",
	        	maxlength: "8"
	      	},
	      	cuil: {
	        	required: true,
	        	digits: true,
	        	minlength: "10",
	        	maxlength: "11"
	      	},
	      	nacimiento: {
	        	required: true,
	        	
	      	},
	      	correo: {
	        	email: true
	      	},
	      	direccion: {
	        	required: true,
				maxlength: "25"
	      	},
	      	telefono: {
	        	required: true,
	        	digits: true,
				maxlength: "20"
	      	},
	      	celular: {
	        	digits: true,
				maxlength: "20"
	      	},
	      	sexo: {
	        	required: true
	      	},
	      	historiaclinica: {
	        	required: true,
			maxlength: "20"
	      	},
	      	osocial: {
	        	lettersonly: true,
				maxlength: "20"
	      	}
		},
	messages: {
		nombre: {
  			lettersonly: "Escribe sólo letras"
	  	},
	  	apellido: {
  			lettersonly: "Escribe sólo letras"	    
	  	},
	  	osocial: {
  			lettersonly: "Escribe sólo letras"	    
	  	},
		razon_social: {
  			lettersonly: "Escribe sólo letras"
	  	}
		},
	highlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').addClass('error');
        $(element).addClass(errorClass).removeClass(validClass);
        },
    unhighlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').removeClass('error');
        $(element).addClass(validClass).removeClass(errorClass);
        }
	});

</script>

{% endblock contenido_paciente %} 