{% extends 'index.html'%}
{% block htitle %}<title>Pacientes</title>{% endblock %} 

{% block contenido%}

<div class="container">
    <fieldset>
        <legend>Pacientes</legend>
            <div class="col-md-offset-10"> <a  href="/aplicacion/registrarpaciente"><button class="btn btn-success ">Nuevo Paciente</button></a>
            </div>

            <div class="row">
                <form  method="POST"  enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <div class="col-md-4 text-left">
                    <select name="id_paciente" id="id_paciente" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                        <option value=""></option>
                        {% for elemento in busqueda_paciente %}
                        <option value="{{elemento.persona_ptr_id}}" >{{elemento.apellido}}, {{elemento.nombre}} --Dni: {{elemento.dni}}</option>
                        {% endfor %}
                    </select>
                    </div>
    
                    <div>
                    <button class="col-md-2 btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form> 
            </div>
        
  </fieldset>
 
 {% if id_paciente %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class=" text-center"></th>
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Cuil</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in id_paciente %}
      <tr>
        <td class="col-md-1 text-center"><a href="/aplicacion/fichapaciente/{{elemento.id}}/"><button class=" btn btn-success btn-sm"  >Ver ficha</button></a>
        <td class="col-md-2 text-center">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <td class="col-md-2 text-center">{{elemento.dni}}</td>
        <td class="col-md-2 text-center">{{elemento.cuil}}</td>
        
         
      </tr>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
    <br><br>
            <div class="text-center">
                <button class="col-md-2 btn btn-primary col-md-offset-10" type="submit">Continuar</button>
            </div>
</div>
</div>
 {% endif %}

 {% if paciente %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class=" text-center"></th>
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Cuil</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in paciente %}
      <tr>
        <td class="col-md-1 text-center"><a href="/aplicacion/fichapaciente/{{elemento.id}}/"><button class=" btn btn-success btn-sm">Ver ficha</button></a>
        <td class="col-md-2 text-center">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <td class="col-md-2 text-center">{{elemento.dni}}</td>
        <td class="col-md-2 text-center">{{elemento.cuil}}</td>
        
         
      </tr>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}


<script type="text/javascript" charset="utf-8" async defer>
    
    $(".chosen-select").chosen({no_results_text: "No existe ese paciente"});

</script>




{% endblock %}




