{% extends 'index.html'%}
{% block htitle %}<title>Gestión de Pacientes</title>{% endblock %} 

{% block contenido%}
{% if refrescar_registro %}





{% endif %}





 <div class='' >
      <div class='panel panel-primary dialog-panel'>
          <div class='panel-body'>

              <fieldset>
                 <legend> Gestión de Pacientes</legend>
                
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      
      
    </ul>
 
    <!--BUSQUEDA PACIENTE-->

     <form  method="POST"  enctype="multipart/form-data" class="navbar-form navbar-left" role="search">{% csrf_token %}
            
        <div class="form-group">  
              


              <div  >Realize una busqueda con apellido y nombre, o el dni del paciente.</div>
                <br>
                


              <div class="form-group id_paciente">


                
                <select name="id_paciente" id="id_paciente" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                          <option value=""></option>
                          {% for elemento in busqueda_paciente %}
                          <option value="{{elemento.persona_ptr_id}}" >{{elemento.apellido}}, {{elemento.nombre}} - DNI:{{elemento.dni}}</option>
                          {% endfor %}
                      </select>
              </div>

              <button type="submit" class="btn btn-primary">Buscar Paciente</button>
              <a href='/aplicacion/pdf_listado_paciente/'><input value='PDF Listado Actual' class="btn btn-danger"/></a>
              

              </form>
        </div>

 <!-- REGISTRAR NUEVO PACIENTE -->
 <div >
    <ul class="nav navbar-nav navbar-right">
      <li>
  
      <a href="/aplicacion/comprobar_paciente/">Registrar Paciente</a></li>
      
    </ul>

  </div>
  </div>
</nav>




            
              <div class="row">
            
              </div>
       
            </fieldset>
 
 {% if id_paciente %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover " cellspacing="0" width="100%">
    <thead>
      
      <tr class="success">
        
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Cuil</th>
        <th class=" text-center">Historia Clinica</th>
        <th class=" text-center">Eliminar</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in id_paciente %}

      <script  type="text/javascript" charset="utf-8" async defer>

        $("div.id_paciente select").val("{{elemento.id}}");

    </script>

      <tr>

      <!--NOMBRE-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <!--DNI-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.dni}}</td>
        <!--CUIL-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.cuil}}</td>
        <!--HISTORIA CLINICA-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.historiaclinica}}</td>
        <!--ELIMINAR-->
        <td class="col-md-1 text-center"><img onclick='eliminar({{elemento.persona_ptr_id}}, "{{elemento.apellido}}");'style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/eliminar.gif" alt=""></td>
        
         
      </tr>
      <script  type="text/javascript" charset="utf-8" async defer>
  
var persona_ptr_id = $("#persona_ptr_id").val();
  
</script>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
  
</div>
</div>
 {% endif %}

 {% if paciente %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table-bordered table-hover" cellspacing="0" width="100%" >
    <thead>
      <tr class="success">
        
        <th class="text-center">Apellido y Nombre</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Cuil</th>
        <th class=" text-center">Historia Clinica</th>
        <th class=" text-center">Eliminar</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in paciente %}
      <tr  >
        
        <!--NOMBRE-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.apellido}}, {{elemento.nombre}}</td>
        <!--DNI-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.dni}}</td>
        <!--CUIL-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.cuil}}</td>
        <!--HISTORIA CLINICA-->
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}'"  style="cursor:pointer">{{elemento.historiaclinica}}</td>
        <!--ELIMINAR-->
        <td class="col-md-1 text-center"><img onclick='eliminar({{elemento.persona_ptr_id}}, "{{elemento.apellido}} ");'style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/eliminar.gif" alt=""></td>
        
         
      </tr>
      <script  type="text/javascript" charset="utf-8" async defer>
  
var persona_ptr_id = $("#persona_ptr_id").val();
  
</script>
     {% endfor %} 
      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}

</div>
</div>


<script type="text/javascript" charset="utf-8" async defer>
    
 $(".chosen-select").chosen({no_results_text: "No se ha encontrado"});

    
    function eliminar(persona_ptr_id, apellido)
{
  
    alertify.set({ labels: {
            ok     : "Confirmar",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("El paciente: <b>"+apellido+" </b>  será eliminado del sistema, ¿Esta de acuerdo?", function (e) {


          if (e) {
            
            window.location.href = "/aplicacion/eliminarpaciente/"+persona_ptr_id;
          
          } else {
            
            window.location.href = "/aplicacion/paciente/";
        }
        
      });


 }

 

   $("button[id=btn_nuevo_paciente]").click(function() {

      
  alertify.defaults.glossary.title = '';

      alertify.confirm("Confirmar eliminacion  "+apellidonombre,
            function (e) {
                if (e) {
                   window.location = "/aplicacion/eliminarpaciente/"+id_paciente;
                } else {
                    alertify.error("Has pulsado <strong>"
                             + alertify.labels.cancel
                             + "</strong>");
                }
        }).setting('labels',{'ok':'Confirmar', 'cancel': 'Cancelar'});
    });
 
</script>




{% endblock %}




