
{% extends "index.html" %} 
{% block htitle %}<title>Registrar Paciente</title>{% endblock %} 
{% block contenido %} 

{% if cuil %}


  <div class='container' >
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5>Nuevo paciente</h5>
      </div>
      <div class='panel-body'>
        <form id='miForm' method='post' enctype='multipart/form-data' action='/aplicacion/registrarpaciente/' class='form-horizontal'>{% csrf_token %}
        

          <div class='form-group'>
            
            <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='cuil'>Cuil</label>
            <div class='col-md-2'>
              <input class='form-control' id='cuil' name='cuil' type='text' value='{{cuil.cuil}}' readonly="readonly"></input>
            </div>

            <div class='col-md-3 indent-small'>
                    <div class='btn-group btn-group-justifiedl'>
                        <font color="green" SIZE=5 >✓</font>
                    </div>  
            </div> 
          
          </div>
              <div class='form-group'>
                <label class='control-label col-md-2 col-md-offset-2' for='dni'>Dni</label>
                  <div class='col-md-2'>
                  <input class='form-control' id='dni' name='dni' type='text' placeholder='Dni' value='{{cuil.dni}}' readonly="readonly"></input>
                  </div>
                  <div class='col-md-3 indent-small'>
                    <div class='btn-group btn-group-justifiedl'>
                        <font color="green" SIZE=5 >✓</font>
                    </div>  
              </div> 
                
            </div>
        
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='historialclinica'>Historia clinica<font color="red"> *</font></label>
            <div class='col-md-2'>
              <input class='form-control' id='historiaclinica' name='historiaclinica' type='text' placeholder='Historia clinica'></input>
              {%if error%}
              <p color='red'>{{error}}</p>
              {%endif%}
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='osocial'>Obra social</label>
            <div class='col-md-2'>
              <input class='form-control' id='osocial' name='osocial' type='text' placeholder='Obra social'></input>
            </div>
            
            
            <input id='c_osocial' name='c_osocial' class='btn btn-primary'   value='Comprobar'/>
            <IMG id="cargando" style="display:none;" width="30" height="30"  src="{{ MEDIA_URL }} /static/media/cargando.gif">

          </div>

          

          <div class='form-group'>
            <label class='control-label col-md-3 col-md-offset-1' for='nombre'>Nombre y Apellido<font color="red"> *</font></label>
            <div class='col-md-8'>
              <div class='col-md-4 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='nombre' name="nombre" placeholder='Nombre' type='text'>
                </div>
              </div>
              <div class='col-md-4 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='apellido' name="apellido" placeholder='Apellido' type='text'>
                </div>
              </div>
            </div>
          </div>
          
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='direccion'>Dirrecion<font color="red"> *</font></label>
            <div class='col-md-3'>
              <input class='form-control' id='direccion' name='direccion' type='text' placeholder="Direccion"></input>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='telefono'>Telefono<font color="red"> *</font></label>
            <div class='col-md-8'>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='telefono' name='telefono' placeholder='Telefono' type='text'>
                </div>  
              </div>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='celular' name='celular' placeholder='Alternativo' type='text'>
                </div>  
              </div>
            </div>
         </div>
          
          <!--
          
             <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='sexo'>Sexo</label>
            <div class='col-md-2'>
              <input class='form-control' id='sexo' name='sexo' type="text" value="{{cuil.sexo}}" readonly></input>
            </div>
          </div>
          -->
          
    
          <div class='form-group'>
            <label class='control-label col-md-3 col-md-offset-1' for='nacimiento'>Fecha de nacimiento<font color="red"> *</font></label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' name='nacimiento' type='text' id='datepicker'
                  placeholder='dd/mm/yyyy' >
                  <span class='input-group-addon'>
                    <i class='glyphicon glyphicon-calendar'></i>
                  </span>
                </div>
              </div>
              
               <div class="col-md-3 sexo">
				<input class='form-control' id='sexo' name="sexo" type='text' value="{{cuil.sexo}}" readonly></input>
			  </div>
			  
              <!--
              <div class="col-md-3 sexo">
                <select class="form-control" id="sexo" name="sexo">
                <option value="">---Sexo---</option>
                <option value="MASCULINO">Masculino</option>
                <option value="FEMENINO">Femenino</option>
                </select>
                <script>$("div.sexo select").val("{{cuil.sexo}}");</script>
              </div>
              -->
            </div>
          </div>


          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='correo'>E-mail</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control' id='correo' name='correo' placeholder='E-mail' type='email'>
                </div>
              </div>
            </div>
          </div>
          
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Observaciones</label>
            <div class='col-md-6'>
              <textarea class='form-control' id='observaciones' name='observaciones' placeholder='Escribe aqui...' rows='3'></textarea>
            </div>
          </div>
          
          <div class='form-group'>
            <div class='col-md-offset-8 col-md-3'>
              <br>
             
              <button class='btn-lg btn-primary' style='float:right' type='submit'>Guardar</button>
            </div>
            
          </div>
        
        </form>
      </div>
    </div>
  </div>

{% endif %}
<script>

jQuery.validator.addMethod("direc", function(value, element) {
    var reg1 = /^[a.,-zA-Z0-9-\/] ?([a.,-zA-Z0-9-\/]|[a.,-zA-Z0-9-\/] )*[a.,-zA-Z0-9-\/]$/;
    if (reg1.test(value)) {
        return true;
    } else {
        return false;
    };
}, "Ingrese una direccion valida");

$('#datepicker').datepicker({
  dateFormat: 'dd/mm/yy',
  changeYear: true,
  changeMonth: true,
  yearRange: "1900:2100",
  locale:'es',
  });
$.datepicker.regional[ "es" ]


$("#miForm").validate({
  errorClass: "claserror",
    validClass: "clasevalida",
    errorElement: 'erele',
    rules: {
          nombre: {
            required: true,
        	maxlength: "20",
        	nomb: "[a-zA-Z. ]+"
          },
      razon_social: {
            required: true,
        	maxlength: "25",
        	nomb: "[a-zA-Z. ]+"
          },
      especialidad: {
            required: true
          },
      matriculaprovincial: {
            required: true,
        	maxlength: "20"
          },
      matriculanacional: {
            required: true,
        	maxlength: "20"
          },
          apellido: {
            required: true,
            nomb: "[a-zA-Z. ]+",
        	maxlength: "20"
          },
          dni: {
            required: true,
            digits: true,
            minlength: "8",
            maxlength: "8"
          },
          cuil: {
            required: true,
            digits: true,
            minlength: "10",
            maxlength: "11"
          },
          nacimiento: {
            required: true,
            
          },
          correo: {
            email: true
          },
          direccion: {
            required: true,
        	maxlength: "25",
        	direc: true
          },
    
    telefono: {
            required: true,
            digits: true,
        	maxlength: "20",
        	minlength:"6"
          },
          celular: {
            digits: true,
        	maxlength: "20",
        	minlength:"6"
          },
    
    
          sexo: {
            required: true
          },
          historiaclinica: {
            required: true,
      		maxlength: "20",
      		direc: true
          },
          osocial: {
        	maxlength: "20",
        	nomb: "^[a-zA-Z]*$"
          }
    },
  messages: {
      nombre: {
        nomb: "Ingrese un nombre valido"
      },
      apellido: {
        nomb: "Ingrese un apellido valido"
      },
      osocial: {
    	nomb: "Ingrese una obra social valida"
      },
      historiaclinica: {
    	direc: "Ingrese una historia clinica valida"
      }
    },
  highlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').addClass('error');
        $(element).addClass(errorClass).removeClass(validClass);
        },
    unhighlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').removeClass('error');
        $(element).addClass(validClass).removeClass(errorClass);
        }
  });

jQuery.validator.addMethod("nomb", function(value, element, param) {

	   return jQuery.trim(value).match(new RegExp("^(?:" + param + ")$"));

	});
//^[a-zA-Z]*$ 
</script>


<script type="text/javascript">
  
  $("input[id=c_osocial]").click(function () {
      
    dni=$('#dni').val();


 $("#cargando").css("display", "inline");
    $.ajax({

        
        url: '/aplicacion/web_service/',// Ruta del views donde se enviara.
        
        type: 'POST',//Metodo de envio, si es por GET o POST
        data: {'dni':dni,}, //Dato que se envia. 


        //si funciona correctamente se podra ejecutar success.
        success: function (datos) {
            
          
          //Agrega un option mas al select y utilizamos los valores que devuelve el view.
         alert(datos);
         $("#cargando").css("display", "none");
                
         
              
        }
    
      });
   });


</script>
{% endblock %} 