{% extends "index.html" %} 
{% block htitle %}<title>Buscar Farmacia</title>{% endblock %} 
{% block title %}<h1 class="page-header">Buscar Farmacia</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  <form action="" method="GET">
  
 	<div class="form-group">
		
		<label for="criterio" class="">Criterio de busqueda:</label>
		
		<div class=""> 
		<select class="form-control" id="criterio" name="criterio">
		<option value="" selected="selected">---------</option>
		<option value="razon_social">Razon Social</option>
		<option value="cuit">CUIT</option>
		
		</select>
		</div>
		
	</div>
	
	<div class="form-group"  >	
    <label for="q">Buscar: </label>
    <input class="form-control" type="text" name="q" value="{{ query|escape }}">
    </div>
    <div class="form-group">
    <input class="form-control" type="submit" value="Buscar">
    </div>
  </form>
  </div>
 
  {% if query %}

  
  <div class="container">
  
    <h4>Resultado para "{{ query|escape }}":</h4>
 
    {% if Farmacias %}
      
      {% for elemento in Farmacias %}

<div class="table-responsive" >

	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr class="info">
			<th>Razon Social</th>
			<th>CUIT</th>
			<th>Dirección</th>
			<th>Telefono</th>
			<th>Correo</th>
		
		</tr>
		<tr>
			<td>{{elemento.razon_social}}</td>
			<td>{{elemento.cuit}}</td>
			<td>{{elemento.direccion}}</td>
			<td>{{elemento.telefono}}</td>
			<td>{{elemento.email}}</td>
		</tr>
	</table>
		{% endfor %}
			
</div>
</div>

	


    {% else %}
      <p>No existe esa farmacia</p>
    {% endif %}
  {% endif %}
  


{%endblock%}