{% extends 'index.html'%}
{% block htitle %}<title>MGD</title>{% endblock %} 

{% block contenido%}

{% if refrescar_registro %}


<script  type="text/javascript" charset="utf-8" async defer>
window.location.href = "/aplicacion/fichafarmacia/{{refrescar_registro}}";
</script>


{% endif %}

{% if refrescar_eliminacion %}


<script  type="text/javascript" charset="utf-8" async defer>

alertify.set({ labels: {
                          ok     : "Aceptar",
                          cancel : "Cancelar"
                         } });


alertify.alert('Se elimino correctamente.', function(){ 
  
  window.location.href = "/aplicacion/farmacia/";
  

  alertify.success('ok'); }
  );

</script>


{% endif %}

{% if refrescar_activacion %}


<script  type="text/javascript" charset="utf-8" async defer>
window.location.href = "/aplicacion/fichafarmacia/{{refrescar_activacion}}";
</script>


{% endif %}


 <div class='' >
      <div class='panel panel-primary dialog-panel'>
          <div class='panel-body'>

              <fieldset>
                 <legend>PENDIENTE DE ENTREGA</legend>
                 
            
              <div class="row">
                <form  method="POST"  enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <div class="col-md-4 text-left">
                      <select name="id_solicitud" id="id_solicitud" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                          <option value=""></option>
                          {% for elemento in busqueda_solicitud %}
                          <option value="{{elemento.id}}" >SOLICITUD: {{elemento.id}} --DNI: {{elemento.paciente.dni}} </option>
                          {% endfor %}
                      </select>
                    </div>
    
                    <div>
                      <button class="col-md-2 btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form> 
              </div>
        
            </fieldset>
 
 {% if solicitud_id%}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr class="success">
        
        <th class="text-center">N° de solicitud</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Medicamento</th>
        <th class="text-center">Dosis</th>
        
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in  solicitud_id %}
     {% ifequal elemento.estado_aprobacion "APROBADO"  %}
      
      <tr>
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.remedio.generico}}</td>
        
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.dosis}}</td>


        <td class="col-md-1 text-center"><img onclick='cambiarestado({{elemento.id}},"{{elemento.paciente.dni}}","{{elemento.paciente.apellido}}","{{elemento.paciente.nombre}}","{{elemento.estado_aprobacion}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/tilde.png" alt=""></td>
      </tr>

      {% endifequal %}

        {% ifequal elemento.estado_aprobacion "PARCIAL"  %}

        <tr bgcolor="#F7BE81"> 
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.remedio.generico}}</td>
        
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.dosis}}</td>


        <td class="col-md-1 text-center"><img onclick='cambiarestado({{elemento.id}},"{{elemento.paciente.dni}}","{{elemento.paciente.apellido}}","{{elemento.paciente.nombre}}","{{elemento.estado_aprobacion}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/tilde.png" alt=""></td>

      </tr>


        {% endifequal %}
     {% endfor %} 



      
    </tbody>
  </table>
</div>
  
</div>
</div>
 {% endif %}

 {% if solicitudes %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr class="success">
        
        <th class="text-center">N° de solicitud</th>
        <th class="text-center">Dni</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Medicamento</th>
        <th class="text-center">Dosis</th>
        
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in solicitudes %}


      {% ifequal elemento.estado_aprobacion "APROBADO"  %}
      
      <tr>
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.remedio.generico}}</td>
        
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.dosis}}</td>


        <td class="col-md-1 text-center"><img onclick='cambiarestado({{elemento.id}},"{{elemento.paciente.dni}}","{{elemento.paciente.apellido}}","{{elemento.paciente.nombre}}","{{elemento.estado_aprobacion}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/tilde.png" alt=""></td>

      </tr>

      {% endifequal %}

        {% ifequal elemento.estado_aprobacion "PARCIAL"  %}

        <tr bgcolor="#F7BE81"> 
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'" style="cursor:pointer">{{elemento.id}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.dni}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.remedio.generico}}</td>
        
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.dosis}}</td>


        <td class="col-md-1 text-center"><img onclick='cambiarestado({{elemento.id}},"{{elemento.paciente.dni}}","{{elemento.paciente.apellido}}","{{elemento.paciente.nombre}}","{{elemento.estado_aprobacion}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/tilde.png" alt=""></td>

      </tr>


        {% endifequal %}

     {% endfor %} 



      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}

</div>
</div>


<script type="text/javascript" charset="utf-8" async defer>
    
  
var razonsocial = $("#razonsocial").val();

    $(".chosen-select").chosen({no_results_text: "No existe ese paciente"});

    
    function cambiarestado(id,dni,apellido,nombre,estado_aprobacion){
 
 if(estado_aprobacion=='APROBADO')
 {
  
    alertify.set({ labels: {
            ok     : "Siguiente",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("Seleccionó la <b>SOLICITUD N° "+id+"</b>  correspondiente a <b>"+apellido+", "+nombre+"</b> con <b>DNI "+dni+"</b>. Seleccione tipo de entrega", function (e) {


          if (e) {

                   
            
                        alertify.set({ labels: {
                        ok     : "Confirmar",
                        cancel : "Cancelar"
                        } });
                        // confirm dialog
                        alertify.confirm("<div class='container '><div class='form-group'><div class='col-xs-3 col-md-offset-1'><div class='form-group'>SELECCIONE TIPO DE ENTREGA <br></br> <select class='form-control smallselect' id='nuevoestado' name='nuevoestado' ><option value='PARCIAL'>ENTREGA PARCIAL</option><option value='ENTREGADO'>ENTREGADO</option></select></div></div></div></div> "


                          , function (l) {


                          if (l) {

                            nuevo_estado=$('select[name=nuevoestado]').val();
                            
                                if(nuevo_estado=='PARCIAL'){

                                    
                                    alertify.prompt('<FONT COLOR=#FF8000>DETALLE DE ENTREGA PARCIAL</FONT>', function(e,value){


                                    $( "#comparcial" ).val(value)
                                    $( "#idsolicitudd" ).val(id);
                                    $("#entrega_parcial").submit();
                                });
                            





                            }else{


                              
                             $( "#idsolicitud" ).val(id);

                             $( "#nuevo_estado").val(nuevo_estado);

                            
                             $("#entrega_entregado").submit();

                          }
          





                        } else {
            
                         window.location.href = "/aplicacion/farmacia_entrega/";
                        }
        
          });






          
          





          } else {
            
            window.location.href = "/aplicacion/farmacia_entrega/";
        }
        
      });


  }

  if(estado_aprobacion=='PARCIAL')
 {
  
    alertify.set({ labels: {
            ok     : "Aceptar",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("La <b>SOLICITUD N° "+id+"</b>  correspondiente a <b>"+apellido+", "+nombre+"</b> con <b>DNI "+dni+"</b> ya tuvo una entrega parcial. ¿Desea confirmar la entrega completa?", function (e) {


          if (e) {

                   
            
                            $( "#idsolicitud" ).val(id);

                             var nuevo_estado='ENTREGADO'

                            
                             $("#entrega_entregado").submit();
                
          





          } else {
            
            window.location.href = "/aplicacion/farmacia_entrega/";
        }
        
      });


  }
}

 

   $("button[id=btn_nuevo_paciente]").click(function() {

      
  alertify.defaults.glossary.title = '';

      alertify.confirm("Confirmar eliminacion  "+apellidonombre,
            function (e) {
                if (e) {
                   window.location = "/aplicacion/eliminarpaciente/"+id_paciente;
                } else {
                    alertify.error("Has pulsado <strong>"
                             + alertify.labels.cancel
                             + "</strong>");
                }
        }).setting('labels',{'ok':'Confirmar', 'cancel': 'Cancelar'});
    });
 
   






</script>

<form  id='entrega_entregado' method='POST' action='/aplicacion/farmacia_entrega/' enctype='multipart/form-data' class='form-horizontal'>{% csrf_token %}
<input class='form-control' id='idsolicitud' name='idsolicitud'  type="hidden" value=''/>
<input class='form-control' id='nuevo_estado' name='nuevo_estado' type="hidden" value=''/>
<input class='form-control' id='user_id_farmacia1' name='user_id_farmacia1' type="hidden" value=''/>
</form>

<form  id='entrega_parcial' method='POST' action='/aplicacion/farmacia_entrega/' enctype='multipart/form-data' class='form-horizontal'>{% csrf_token %}
<input class='form-control' id='idsolicitudd' name='idsolicitudd'  type="hidden" value=''/>
<input class='form-control' id='comparcial' name='comparcial' type="hidden" value=''/>
<input class='form-control' id='user_id_farmacia2' name='user_id_farmacia2' type="hidden" value=''/>
</form>

        {% if user.is_authenticated %}
              
              
            
              <script  type="text/javascript" charset="utf-8" async defer>
                
              var user_id="{{user.userfarmacia.id}}";
              var user_id_farmacia=parseInt(user_id);
              
              $( "#user_id_farmacia1" ).val(user_id_farmacia);
              $( "#user_id_farmacia2" ).val(user_id_farmacia);

              </script>
            

            {% endif %}


{% endblock %}