{% extends 'index.html'%}
{% block htitle %}<title>Farmacias</title>{% endblock %} 

{% block contenido%}

{% if refrescar_registro %}


<script  type="text/javascript" charset="utf-8" async defer>
window.location.href = "/aplicacion/fichafarmacia/{{refrescar_registro}}";
</script>


{% endif %}

{% if refrescar_eliminacion %}


<script  type="text/javascript" charset="utf-8" async defer>

alertify.set({ labels: {
                          ok     : "Aceptar",
                          cancel : "Cancelar"
                         } });


alertify.alert('Se elimino correctamente.', function(){ 
  
  window.location.href = "/aplicacion/farmacia/";
  

  alertify.success('ok'); }
  );

</script>


{% endif %}

{% if refrescar_activacion %}


<script  type="text/javascript" charset="utf-8" async defer>
window.location.href = "/aplicacion/fichafarmacia/{{refrescar_activacion}}";
</script>


{% endif %}


 <div class='' >
      <div class='panel panel-primary dialog-panel'>
          <div class='panel-body'>

              <fieldset>
                 <legend>Farmacias</legend>
                 <div class="col-md-offset-10"> 
                  <a href="/aplicacion/registrarfarmacia/">
                    <button class="btn btn-success ">Nueva Farmacia</button>
                  </a>
              </div>
            
              <div class="row">
                <form  method="POST"  enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <div class="col-md-4 text-left">
                      <select name="id_farmacia" id="id_farmacia" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                          <option value=""></option>
                          {% for elemento in busqueda_farmacia %}
                          <option value="{{elemento.id}}" >{{elemento.razon_social}} --CUIT:{{elemento.cuit}} </option>
                          {% endfor %}
                      </select>
                    </div>
    
                    <div>
                      <button class="col-md-2 btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form> 
              </div>
        
            </fieldset>
 
 {% if id_farmacia %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover " cellspacing="0" width="100%">
    <thead>
      
      <tr class="success">
        
        <th class="text-center">CUIT</th>
        <th class="text-center">Razon Social</th>
        <th class="text-center">Direccion</th>
        <th class=" text-center">Telefono</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in id_farmacia %}
      <tr  >
        
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.cuit}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.razon_social}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.direccion}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.telefono}}</td>

        <td class="col-md-1 text-center"><img onclick='eliminar({{elemento.id}},"{{elemento.razon_social}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/eliminar.gif" alt=""></td>
     </tr>

<script  type="text/javascript" charset="utf-8" async defer>
  
var razonsocial = $("#razonsocial").val();
  
</script>

     {% endfor %} 
      
    </tbody>
  </table>
</div>
  
</div>
</div>
 {% endif %}

 {% if farmacia %}
<div class="row">
<br>

<div class=".container">
  
<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr class="success">
        
        <th class="text-center">CUIT</th>
        <th class="text-center">Razon Social</th>
        <th class="text-center">Direccion</th>
        <th class=" text-center">Telefono</th>
        
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in farmacia %}
      <tr  >
       

        <td class="col-md-2 text-center " onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'" style="cursor:pointer">{{elemento.cuit}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.razon_social}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.direccion}}</td>
        <td class="col-md-2 text-center" onclick="document.location='/aplicacion/fichafarmacia/{{elemento.id}}'"  style="cursor:pointer">{{elemento.telefono}}</td>
        


        <td class="col-md-1 text-center"><img onclick='eliminar({{elemento.id}},"{{elemento.razon_social}}");' style="cursor:pointer"  class="profile-img" src="{{ MEDIA_URL }} /static/media/eliminar.gif" alt=""></td>

      </tr>

     {% endfor %} 



      
    </tbody>
  </table>
</div>
            
</div>
</div>
</div>
 {% endif %}

</div>
</div>


<script type="text/javascript" charset="utf-8" async defer>
    
    $(".chosen-select").chosen({no_results_text: "No existe ese paciente"});

    
    function eliminar(id,razonsocial)
{
  
    alertify.set({ labels: {
            ok     : "Confirmar",
            cancel : "Cancelar"
          } });
          // confirm dialog
          alertify.confirm("La farmacia: <b>"+razonsocial+"</b> pasara a NO ACTIVA, ¿Esta de acuerdo?", function (e) {


          if (e) {
            
            window.location.href = "/aplicacion/eliminarfarmacia/"+id;
          
          } else {
            
            window.location.href = "/aplicacion/farmacia/";
        }
        
      });


 }


 

   $("button[id=btn_nuevo_paciente]").click(function() {

      
  alertify.defaults.glossary.title = '';

      alertify.confirm("Confirmar eliminacion  "+apellidonombre,
            function (e) {
                if (e) {
                   window.location = "/aplicacion/eliminarpaciente/"+id_paciente;
                } else {
                    alertify.error("Has pulsado <strong>"
                             + alertify.labels.cancel
                             + "</strong>");
                }
        }).setting('labels',{'ok':'Confirmar', 'cancel': 'Cancelar'});
    });
 
   






</script>




{% endblock %}




