{% extends "ABME/Farmacia/menufarmacia.html" %}
{% block contenido_farmacia %}

{% if id_farmacia %}

{% for elemento in id_farmacia %}




<div class='panel-body'>
        <form id='miForm' method='post' enctype='multipart/form-data' action='' autocomplete="off" class='form-horizontal'>
        {% csrf_token %}


        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='dni'>CUIT</label>
            <div class='col-md-4'>
              <input class='form-control' id='cuit' name='cuit' value="{{elemento.cuit}}" readonly></input>
            </div>
        </div>
       
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='osocial'>Contraseña</label>
            <div class='col-md-4'>
              <input class='form-control' id='password' name='password' value="{{elemento.password}}" ></input>
            </div>
        </div>



        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='osocial'>Razon Social</label>
            <div class='col-md-4'>
              <input class='form-control' id='razon_social' name='razon_social' value="{{elemento.razon_social}}" ></input>
            </div>
        </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='direccion'>Dirrecion</label>
            <div class='col-md-4'>
              <input class='form-control' id='direccion' name='direccion' placeholder="Direccion" value="{{elemento.direccion}}" ></input>
            </div>
          </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='telefono'>Telefono</label>
            <div class='col-md-4'>
            
            		
             <input class='form-control' id='telefono' name="telefono" placeholder='Telefono' type='text' value="{{elemento.telefono}}" ></input>
             		
            	</div>
           		
         </div>
          
         
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='correo'>E-mail</label>
            <div class='col-md-4 '>
                  <input class='form-control' id='email' name='email' placeholder='E-mail' type='text' value="{{elemento.email}}" ></input>
               </div> 
            	
           
          </div>
      

        <div class='col-md-offset-9 col-md-3'>
              <button class='btn-lg btn-primary' style='float:right' id='guardar' type="submit" >Guardar</button>
            </div>
        
        
       </form> 
     </div>
    

  <br><br>


        
{% endfor %}

{% endif %}






{% endblock contenido_farmacia %}