{% extends "index.html" %} 
{% block htitle %}<title>Modificar Farmacia</title>{% endblock %} 
{% block title %}<h1 class="page-header">Modificar Farmacia</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  {% if errors %} 
		<ul> 
		{% for error in errors %} 
		<li style="color: red;">{{ error }}</li> 
		{% endfor %} 
		</ul> 
  {% endif %} 
  
  <form action="" method="GET" class="form-horizontal">
  
 	<div class="form-group">
			<label for="criterio" class="control-label col-md-2">Criterio:</label>
			
			<div class="col-md-5"> 
				<select class="form-control" id="criterio" name="criterio">
					<option value="" selected="selected">---------</option>
					<option value="razon_social">Razon social</option>
					<option value="cuit">Cuit</option>
					
				</select>
			</div>
	</div>
	
	<div class="form-group">	
    <label for="valor" class="control-label col-md-2">Buscar: </label>
		<div class="col-md-5">	
	    <input class="form-control" type="text" name="valor" value="{{ query|escape }}">
	    </div>


    </div>


    	
    	<div class="">
    	<input name="buscar" class="form-control" type="submit" value="buscar">
    	
    	
    </div>

  </form>
  </div>
{% if query %}
  <div class="container">
  <p>Estas buscado: <strong>{{ query }}</strong></p> 
 
{% if farmacias %}
	
	<p>Farmacias encontradas: {{ farmacias|length }} farmacia{{ farmacias|pluralize }}.</p> 
	<ul> 
		{% for farmacias in farmacias %} 
	
	<div class="table-responsive" >

	<table class="table table-bordered table-condensed">
		<tr class="info">
			<th>Razon social</th>
			<th>CUIT</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th>Correo</th>
			
		</tr>
		<tr>
			<!--td>{{farmacias.id}}</td-->
			<td>{{farmacias.razon_social}}</td>
			<td>{{farmacias.cuit}}</td>
			<td>{{farmacias.direccion}}</td>
			<td>{{farmacias.telefono}}</td>
			<td>{{farmacias.email}}</td>
		</tr>
	</table>
	<a href="/aplicacion/modificarbusfarmacia/{{farmacias.id}}"><button class="control-label col-md-2">Modificar</button></a>
	</div>
	
			 
		{% endfor %} 
	</ul> 
{% else %} 
<p>Ningúna farmacia coincide con el criterio de búsqueda.</p> 
{% endif %} 
{% endif %} 

{%endblock%}