{% extends "ABME/Operador/menuoperador.html" %}
{% block contenido_operador %}

{% if id_operador %}

{% for elemento in id_operador %}




<div class='panel-body'>
        <form id='miForm' method='post' enctype='multipart/form-data' action='' autocomplete="off" class='form-horizontal'>
        {% csrf_token %}
     

        
        <div class='form-group'>
            
            <label class='control-label col-md-2 col-md-offset-2' for='pass1'  >Escriba la nueva Contraseña<font color="red"><font color="red"> *</font></font></label>
            
            

            <div class='col-md-4'>
              <input class='form-control' id='pass1' name='pass1' type='password' autocomplete="off" placeholder="Contraseña"></input>
            </div>
              
      
          </div>
                  
                  <div class='form-group'>
            
            <label class='control-label col-md-2 col-md-offset-2' for='password'  >Vuelva a escribir la Contraseña<font color="red"><font color="red"> *</font></font></label>
            
            

            <div class='col-md-4'>
              <input class='form-control' id='password' name='password' type='password' autocomplete="off" placeholder="Contraseña"></input>
            </div>
              
      
          </div>


        <div class='col-md-offset-9 col-md-3'>
              <button class='btn-lg btn-primary' style='float:right' id='guardar' type="submit" >Guardar</button>
            </div>
        
        
       </form> 
     </div>
    

  <br><br>


        
{% endfor %}

{% endif %}


<script>
$(document).ready(function() {
	//variables
	var pass1 = $('[name=pass1]');
	var password = $('[name=password]');
	var confirmacion = "Las contraseñas si coinciden";
	var longitud = "La contraseña debe estar formada entre 6-10 carácteres (ambos inclusive)";
	var negacion = "No coinciden las contraseñas";
	var vacio = "La contraseña no puede estar vacía";
	//oculto por defecto el elemento span
	var span = $('<span></span>').insertAfter(password);
	span.hide();
	//función que comprueba las dos contraseñas
	function coincidePassword(){
	var valor1 = pass1.val();
	var valor2 = password.val();
	//muestro el span
	span.show().removeClass();
	//condiciones dentro de la función
	if(valor1 != valor2){
	span.text(negacion).addClass('negacion');	
	}
	if(valor1.length==0 || valor1==""){
	span.text(vacio).addClass('negacion');	
	}
	if(valor1.length<6 || valor1.length>10){
	span.text(longitud).addClass('negacion');
	}
	if(valor1.length!=0 && valor1==valor2){
	span.text(confirmacion).removeClass("negacion").addClass('confirmacion');
	}
	}
	//ejecuto la función al soltar la tecla
	password.keyup(function(){
	coincidePassword();
	});
});
</script>


<script>
jQuery.validator.addMethod("direc", function(value, element) {
    var reg1 = /^[a.,-zA-Z0-9-\/] ?([a.,-zA-Z0-9-\/]|[a.,-zA-Z0-9-\/] )*[a.,-zA-Z0-9-\/]$/;
    if (reg1.test(value)) {
        return true;
    } else {
        return false;
    };
}, "Ingrese una direccion valida");
$('#datepicker').datepicker({
  dateFormat: 'dd/mm/yy',
  changeYear: true,
  changeMonth: true,
  yearRange: "1900:2100"
  });
$.datepicker.regional[ "es" ]
$("#miForm").validate({
  errorClass: "claserror",
    validClass: "clasevalida",
    errorElement: 'erele',
    rules: {
          nombre: {
            required: true,
          maxlength: "20",
          nomb: "[a-zA-Z. ]+"
          },
      razon_social: {
            required: true,
          maxlength: "25",
          nomb: "[a-zA-Z. ]+"
          },
      especialidad: {
            required: true
          },
      matriculaprovincial: {
            required: true,
          maxlength: "20"
          },
      matriculanacional: {
            required: true,
          maxlength: "20"
          },
          apellido: {
            required: true,
            nomb: "[a-zA-Z. ]+",
          maxlength: "20"
          },
          dni: {
            required: true,
            digits: true,
            minlength: "8",
            maxlength: "8"
          },
          cuit: {
            required: true,
            digits: true,
            minlength: "10",
            maxlength: "11"
          },
          nacimiento: {
            required: true,
            date: true
          },
          email: {
            email: true
          },
          direccion: {
            required: true,
          maxlength: "25",
          direc: true
          },
          telefono: {
            required: true,
            digits: true,
          maxlength: "20"
          },
          celular: {
            digits: true,
          maxlength: "20"
          },
          sexo: {
            required: true
          },
          historiaclinica: {
            required: true,
          maxlength: "20",
          direc: true
          },
          osocial: {
          maxlength: "20",
          nomb: "^[a-zA-Z]*$"
          }
    },
  messages: {
      nombre: {
        nomb: "Ingrese un nombre valido"
      },
      apellido: {
        nomb: "Ingrese un apellido valido"
      },
      razon_social: {
      nomb: "Ingrese una razon social valida"
      },
      direccion: {
      direc: "Ingrese una direccion valida"
      }
    },
  highlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').addClass('error');
        $(element).addClass(errorClass).removeClass(validClass);
        },
    unhighlight: function (element, errorClass, validClass) {
        $(element).parent('.miForm').removeClass('error');
        $(element).addClass(validClass).removeClass(errorClass);
        }
  });
jQuery.validator.addMethod("nomb", function(value, element, param)
  {
     return jQuery.trim(value).match(new RegExp("^(?:" + param + ")$"));
  });
</script>


{% endblock contenido_operador %}