{% extends "index.html" %} 
{% block htitle %}<title>Busqueda Medico</title>{% endblock %} 
{% block title %}<h1 class="page-header">Busqueda Medico</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  {% if errors %} 
		<ul> 
		{% for error in errors %} 
		<li style="color: red;">{{ error }}</li> 
		{% endfor %} 
		</ul> 
  {% endif %} 
  
  <form action="/aplicacion/buscarme/" method="GET">
  
 	<div class="form-group">
			<label for="criterio" class="">Criterio:</label>
			
			<div class=""> 
				<select class="form-control" id="criterio" name="criterio">
					<option value="" selected="selected">---------</option>
					<option value="nombre">Nombre</option>
					<option value="apellido">Apellido</option>
					<option value="especialidad">Especialidad</option>
					
				</select>
			</div>
	</div>
	 
	<div class="form-group"  >	
    <label for="valor">Buscar: </label>
    <input class="form-control" type="text" name="valor" value="{{ query|escape }}">
    </div>
    <div class="form-group">
    <input class="form-control" type="submit" value="Buscar">
    </div>
  </form>
  </div>
{% if query %}
  <div class="container">
  <p>Estas buscado: <strong>{{ query }}</strong></p> 
 
{% if medicos %} 
	<p>Medicos encontrados: {{ medicos|length }} medico{{ medicos|pluralize }}.</p> 
	<ul> 
		{% for medicos in medicos %} 

	<div class="table-responsive" >

	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr class="info">
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Especialidad</th>
			<th>Correo</th>
			<th>Celular</th>
			<th>Obervaciones</th>
			
			
			
		</tr>
		<tr>
			<td>{{medicos.id}}</td>
			<td>{{medicos.nombre}}</td>
			<td>{{medicos.apellido}}</td>
			<td>{{medicos.especialidad}}</td>
			<td>{{medicos.correo}}</td>
			<td>{{medicos.celular}}</td>
			<td>{{medicos.observaciones}}</td>
		</tr>
	</table>
	</div>
			  <a href="/aplicacion/detallemedico/{{medicos.id}}"><button  class="control-label col-md-2">Continuar</button></a>
		{% endfor %} 
	</ul> 
{% else %} 
<p>Ningún medico coincide con el criterio de búsqueda.</p> 
{% endif %} 
{% endif %} 


{%endblock%}