{% extends "ABME/Paciente/menupaciente.html" %}


{% block contenido_paciente %}

{% for derivaciones in derivaciones %}

<div class='panel-body'>
        <form  class="form-horizontal">
        
<div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='derivacion_id'>Derivacion numero:</label>
            <div class='col-md-2'>
              <input class='form-control' id='dni' name='dni' value="{{derivaciones.id}}" readonly></input>
            </div>
        </div>
        
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='fecha'>Fecha</label>
            <div class='col-md-2'>
              <input class='form-control' id='fecha' name='fecha' value="{{derivaciones.fecha}}" readonly></input>
            </div>
        </div>
          
         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='diagnostico'>Diagnostico</label>
            <div class='col-md-2'>
              <input class='form-control' id='diagnostico' name='diagnostico' value="{{derivaciones.diagnostico}}" readonly></input>
            </div>
        </div>
          
        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='historialclinica'>Observaciones</label>
            <div class='col-md-2'>
              <input class='form-control' id='historiaclinica' name='historiaclinica' value="{{derivaciones.observaciones}}" readonly></input>
            </div>
        </div>

        <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='acompananate'>Acompañante</label>
            <div class='col-md-2'>
              <input class='form-control' id='acompananate' name='acompananate' value="{{derivaciones.acompananate}}" readonly></input>
            </div>
        </div>

              
    </form>
{% endfor %}

<div class="col-md-offset-10"> 
    		<a href="/aplicacion/detallederivacion/{{query}}">
            <button class="btn btn-success ">Nueva derivación</button>
            </a>

            </div>

  </div>
      
{%endblock%}
