{% extends "ABME/Paciente/menupaciente.html" %}




{% block contenido_paciente %}

 

{% if derivaciones   %}


<div class="">



<br>
<script type="text/javascript" charset="utf-8" async defer>

$('#modificar').hide(); 
$('#eliminar').hide();


</script>

<style type="text/css">
  .tachado{text-decoration:line-through;}
 
  .rojocolor{background:#FA5858;}
  .amarillocolor{background:#F3F781;}
  .entregadocolor{background:#01A9DB}
  .aprobadocolor{background: #81F781;}
  .parcial{background: #FAAC58 }

  .headertabla{background:#A9E2F3;}


tr.resaltar {
    
    cursor: pointer;
   
}

</style>
 




<br> 


<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover " cellspacing="0" width="100%">
    <thead>
      <tr class=''>
        
        <th class="text-center">Fecha</th>
        <th class="text-center">Diagnostico</th>
        <th class="text-center">Observaciones</th>
        <th class="text-center">Acompañante</th>
        
        <th class=" text-center"></th>
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in derivaciones %}
      
    
    

      <tr class='aprobadocolor' onclick="document.location='/aplicacion/derivaciones/{{elemento.id}}'"    style="cursor:pointer" >
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.diagnostico}}</td>
        <td class="col-md-2 text-center">{{elemento.observaciones}}</td>
        <td class="col-md-2 text-center">{{elemento.acompanante}}</td>
        <td class="col-md-1 text-center"><a href="/aplicacion/pdf_derivacion/{{elemento.id}}/">Exportar PDF</a>
        
      </td>
    </tr>
      

    
 

     {% endfor %} 
      <tr>
        
        <td class="col-md-2 text-center"></td>
        <td class="col-md-2 text-center"></td>
        <td class="col-md-2 text-center"></td>
        <td class="col-md-1 text-center"></a>
        <td class="col-md-2 text-center">
        {% for elemento in id_paciente %}<a href="/aplicacion/detallederivacion/{{elemento.persona_ptr_id}}">
            + Nueva Solicitud
            </a>
            {% endfor %}

            </div></a>
      </tr>
    
    </tbody>
  </table>
</div>
  
</div>
</div>


 {% else %}

                  <script>
               
                        alertify.set({ labels: {
                          ok     : "Confirmar",
                          cancel : "Cancelar"
                         } });
                        // confirm dialog
                        alertify.confirm("Este paciente no posee una derivacion ¿Desea crear una derivacion?", function (e) {
    
                       if (e) {
                          window.location.href = "/aplicacion/registrarderivacion/{{elemento.persona_ptr_id}}";
                        } else {
                          window.location.href = "/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}";
                        }});

                      </script>

 {% endif %}


{% endblock contenido_paciente %}

