{% extends "ABME/Paciente/menupaciente.html" %}

{% block contenido_paciente %}




{% if solicitud_enviado %}
{% for elemento in solicitud_enviado %}

{% ifequal elemento.estado_aprobacion "CANCELADO" %}




<style type="text/css" media="screen">
 
 .panel > .panel-heading {
    background-image: none;
    background-color: #FA5858;
    color: #000000;
}


 .panel > .panel-body {
    
    
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
</style>


<script  type="text/javascript" charset="utf-8" async defer>
	
$('#paciente_nombre').hide(); 
$('#estado_cancelada').show();
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide(); 
$( "p" ).hide();


</script>

{% endifequal %}

{% ifequal elemento.estado_aprobacion "APROBADO" %}




<style type="text/css" media="screen">
 
 .panel > .panel-heading {
    background-image: none;
    background-color: #81F781;
    color: #000000;
}


 .panel > .panel-body {
    
    
  padding: 15px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
</style>


<script  type="text/javascript" charset="utf-8" async defer>
	
$('#paciente_nombre').hide(); 
$('#estado_aprobado').show();
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide(); 



</script>

{% endifequal %}
{% ifequal elemento.estado_aprobacion "ENPROGRESO" %}




<style type="text/css" media="screen">
 
 .panel > .panel-heading {
    background-image: none;
    background-color: #F3F781;
    color: #000000;
}


 .panel > .panel-body {
    
    
  padding: 15px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
</style>


<script  type="text/javascript" charset="utf-8" async defer>
	
$('#paciente_nombre').hide(); 
$('#estado_enproceso').show();
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide(); 



</script>

{% endifequal %}

{% ifequal elemento.estado_aprobacion "PARCIAL" %}




<style type="text/css" media="screen">
 
 .panel > .panel-heading {
    background-image: none;
    background-color: #FAAC58;
    color: #000000;
}


 .panel > .panel-body {
    
    
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
</style>


<script  type="text/javascript" charset="utf-8" async defer>
	
$('#paciente_nombre').hide(); 
$('#estado_parcial').show();
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide(); 



</script>

{% endifequal %}

{% ifequal elemento.estado_aprobacion "ENTREGADO" %}




<style type="text/css" media="screen">
 
 .panel > .panel-heading {
    background-image: none;
    background-color: #01A9DB;
    color: #000000;
}


 .panel > .panel-body {
    
    
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
</style>


<script  type="text/javascript" charset="utf-8" async defer>
	
$('#paciente_nombre').hide(); 
$('#estado_entregado').show();
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide(); 



</script>

{% endifequal %}



<div class='panel-body'>
				
				
	<div class="form-group">
					
		<div class="row">

			<div class="col-xs-6 col-md-4 col-md-offset-9" style='font-size:30px;'>Fecha: {{elemento.fecha}}</div>
			<br><br><br>
  			
		</div>			

		<div class="row">
			<div class="col-xs-6 col-md-4" style=' font-size:30px;'>N° de solicitud: {{elemento.id}}</div>
			<br><br><br>
  			
		</div>
			<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-12" style=' font-size:25px;'>Paciente:  {{elemento.paciente.apellido}}, {{elemento.paciente.nombre}}</div>
  			
		</div>	
			<br>
			<br>
		<div class="row">
		<div class="col-xs-6 col-md-3" style=' font-size:25px;'>Dni: {{elemento.paciente.dni}}</div>
		
		<div class="col-xs-6 col-md-4" style=' font-size:25px;'>Historia Clinica: {{elemento.paciente.historiaclinica}}</div>
		</div>

		<br>
			<br>
		<div class="row">
		<div class="col-xs-6 col-md-12" style=' font-size:25px;'>Obra Social: {{elemento.paciente.osocial}}</div>
		
		
		</div>




		<br>
			<br>
		<div class="row">
		<div class="col-xs-6 col-md-12" style=' font-size:25px;'>Nombre del Generico: {{elemento.remedio}}</div>
		
		
		</div>

		<br>
			<br>

		<div class="row">
		
		<div class="col-xs-6 col-md-4" style=' font-size:25px;'>Dosis: {{elemento.dosis}}</div>
		
		</div>
		<br><br>

		<div class="row">
		
		<div class="col-xs-6 col-md-12" style=' font-size:25px;'>Medico: {{elemento.medico.apellido}}, {{elemento.medico.nombre}}</div>
		
		</div>
		<br><br>

		

		<div class="row">
		
			<div class="col-xs-6 col-md-4" style=' font-size:25px;'>Observaciones <br><br>
				<textarea class="form-control" cols="200" style="width:816px; height:109px;" h name="observaciones" rows="5" readonly>{{elemento.observaciones}}</textarea>
			</div>
		</div>

			<br>
			<br>
			<br>
			<br>

		<p id='a' name='a'>
		<div class="row" >
			
			<div id='exportarpdf' class="col-xs-6 col-md-4 col-md-offset-2" style=' font-size:25px;'  ><a href="/aplicacion/pdf_solicitud/{{elemento.id}}/"><input  class='btn-lg btn-primary' type="button" value='Exportar PDF'/></a></div>
			
			<div class="col-xs-6 col-md-4" style=' font-size:25px;' ><input class='btn-lg btn-primary' name='cambiar_estado' id='cambiar_estado' type="button"  value='Cambiar Estado'/></div>
		</div>

		</p>

</div>


<script type="text/javascript" charset="utf-8" async defer>
              
    $("input[id=cambiar_estado]").click(function () {
      
   		alertify.set({ labels: {
            ok     : "Confirmar",
            cancel : "Cancelar"
            } });
        // confirm dialog
        
        alertify.confirm("<div class='container '><div class='form-group'><div class='col-xs-3 col-md-offset-1'><div class='form-group'> SELECCIONE NUEVO ESTADO <br></br> <select class='form-control smallselect' id='nuevoestado' name='nuevoestado' ><option value='CANCELADO'>CANCELAR</option><option value='ENPROGRESO'>EN PROGRESO</option><option value='APROBADO'>APROBADO</option><option value='PARCIAL'>ENTREGA PARCIAL</option><option value='ENTREGADO'>ENTREGADO</option></select></div></div></div></div>", function (e) {
    
            if (e) {
            	nuevo_estado=$('select[name=nuevoestado]').val();

            		if(nuevo_estado=="CANCELADO"){

            			alertify.confirm("Una vez CANCELADA esta solicitud quedara anulada, ¿Desea cancelar la solicitud?", function (e) {
    					if (e) {
    						window.location.href = "/aplicacion/cambiarestado/{{elemento.id}}/"+nuevo_estado;
        					
    					} else {
        					// user clicked "cancel"
    					}
						});

            		}else{

            			window.location.href = "/aplicacion/cambiarestado/{{elemento.id}}/"+nuevo_estado;


            		}
            	


                
                
                	} else {
                
                
                
                }});

			});

</script>

{% endfor %}




{% endif %}


{% endblock contenido_paciente %}