

	<br>


	<div class="container">
		
		<div class="form-group">
		
			<label  class="control-label col-md-2">Remedio</label>

			<label class="control-label col-md-2">Fecha</label>
			
			<label  class="control-label col-md-2">Dosis</label>

			<label  class="control-label col-md-2">Medico</label>
			
			<label  class="control-label col-md-2">Observaciones</label>




		</div>

	</div>
	<br>

	{% for detalle in detalle %}





	<div class="container">

		<div class="form-group">
		
			<label  class="control-label col-md-2">{{detalle.remedio_id}}</label>
			
			<label  class="control-label col-md-2">{{detalle.fecha}}</label>

			<label  class="control-label col-md-2">{{detalle.dosis}}</label>

			<label  class="control-label col-md-2">{{detalle.medico_id}}</label>

			<label  class="control-label col-md-2">{{detalle.observaciones}}</label>
		</div>

		

	</div>

	{% endfor %}



	<!--<a href="/aplicacion/entrega/{{persona}}"><button  class="control-label col-md-2">Continuar</button></a>-->







		
		

		
	  




