{% extends "index.html" %} 
{% block htitle %}<title>Solicitud de Remedio</title>{% endblock %} 
{% block title %}<h1 class="page-header">Solicitud de Remedio</h1>{% endblock %} 


{% block contenido%} 

<div class="container">
<form method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}

<div class="form-group">
<label for="medico" class="control-label col-md-2">Medico:</label> 
	<div class="col-md-5">
	<input class="form-control" id="medico" name="medico" type="number" />
	</div>
</div>

<div class="form-group">
<label for="paciente" class="control-label col-md-2">Paciente:</label> 
	<div class="col-md-5">
	<input class="form-control" id="paciente" name="paciente" type="number" />
	</div>
</div>

<div class="form-group">
<label for="remedio" class="control-label col-md-2">Remedio:</label> 
	<div class="col-md-5">
	<input class="form-control" id="remedio" name="remedio" type="number" />
	</div>
</div>

<div class="form-group">
<label for="fecha" class="control-label col-md-2">Fecha:</label> 
	<div class="col-md-5">
	<input class="form-control" id="fecha" name="fecha" type="date" />
	</div>
</div>

<div class="form-group">
<label for="dosis" class="control-label col-md-2">Dosis:</label>
	<div class="col-md-5">
	<input class="form-control" id="dosis" maxlength="20" name="dosis" type="text" />
	</div>
</div>

<div class="form-group">
<label for="observaciones" class="control-label col-md-2">Observaciones:</label> 
	<div class="col-md-5">
	<textarea class="form-control" cols="40" id="observaciones" name="observaciones" rows="10"></textarea>
	</div>
</div>

<div class="form-group">
	<div class="col-md-2 col-md-offset-2">
	
	<input class="form-control" id="estado" type="hidden" name="estado" value="activo">
	<!--
	<input class="form-control" id="remedio_id" type="hidden" name="remedio_id" value="1">
	<input class="form-control" id="medico_id" type="hidden" name="medico_id" value="2">
	<input class="form-control" id="paciente" type="hidden" name="paciente" value="1"-->
	<input class="form-control" type="submit" name="submit" value="Solicitar">
	</div>
</div>

</form>
</div>

{%endblock%}
