{% extends "index.html" %} 
{% block htitle %}<title>Busqueda Paciente</title>{% endblock %} 
{% block title %}<h1 class="page-header">Busqueda Paciente</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  {% if errors %} 
		<ul> 
		{% for error in errors %} 
		<li style="color: red;">{{ error }}</li> 
		{% endfor %} 
		</ul> 
  {% endif %} 
  
  <form action="" method="GET" class="form-horizontal">
  
 	<div class="form-group">
			<label for="criterio" class="control-label col-md-2">Criterio:</label>
			
			<div class="col-md-5"> 
				<select class="form-control" id="criterio" name="criterio">
					<option value="" selected="selected">---------</option>
					<option value="dni">DNI</option>
					<option value="cuil">CUIL</option>
					<option value="historiaclinica">Historia clinica</option>
					
				</select>
			</div>
	</div>
	
	<div class="form-group">	
    <label for="valor" class="control-label col-md-2">Buscar: </label>
		<div class="col-md-5">	
	    <input class="form-control" type="number" name="valor" value="{{ query|escape }}">
	    </div>


    </div>


    	
    	<div class="">
    	<input name="buscar" class="form-control" type="submit" value="Buscar">
    	
    	
    </div>

  </form>
  </div>
{% if query %}
  <div class="container">
  <p>Estas buscado: <strong>{{ query }}</strong></p> 
 
{% if pacientes %}
	
	<p>Pacientes encontrados: {{ pacientes|length }} paciente{{ pacientes|pluralize }}.</p> 
	<ul> 
		{% for pacientes in pacientes %} 
	
	<div class="table-responsive" >

	<table class="table table-bordered table-condensed">
		<tr class="info">
			<th>Nombre</th>
			<th>Apellido</th>
			<th>DNI</th>
			<th>CUIL</th>
			<th>Dirección</th>
			<th>Fecha de nacimiento</th>
			<th>Correo</th>
			<th>Telefono fijo</th>
			<th>Celular</th>
			<th>Obervaciones</th>
			<th>Historia Clinica</th>
			<th>Obra Social</th>
			
			
			
		</tr>
		<tr>
			<!--td>{{pacientes.persona_ptr_id}}</td-->
			<td>{{pacientes.nombre}}</td>
			<td>{{pacientes.apellido}}</td>
			<td>{{pacientes.dni}}</td>
			<td>{{pacientes.cuil}}</td>
			<td>{{pacientes.direccion}}</td>
			<td>{{pacientes.nacimiento}}</td>
			<td>{{pacientes.correo}}</td>
			<td>{{pacientes.telefono}}</td>
			<td>{{pacientes.celular}}</td>
			<td>{{pacientes.observaciones}}</td>
			<td>{{pacientes.historiaclinica}}</td>
			<td>{{pacientes.osocial}}</td>
		</tr>
	</table>
	</div>
	
			 
		{% endfor %} 
	</ul> 
{% else %} 
<p>Ningún paciente coincide con el criterio de búsqueda.</p> 
{% endif %} 
{% endif %} 

{%if detalle%}

	<br>


	<div class="container">
		
		<div class="form-group">
		
			<label  class="control-label col-md-2">Remedio</label>

			<label class="control-label col-md-2">Fecha</label>
			
			<label  class="control-label col-md-2">Dosis</label>

			<label  class="control-label col-md-2">Medico</label>
			
			<label  class="control-label col-md-2">Observaciones</label>




		</div>

	</div>
	<br>

	{% for detalle in detalle %}





	<div class="container">

		<div class="form-group">
		
			<label  class="control-label col-md-2">{{detalle.remedio_id}}</label>
			
			<label  class="control-label col-md-2">{{detalle.fecha}}</label>

			<label  class="control-label col-md-2">{{detalle.dosis}}</label>

			<label  class="control-label col-md-2">{{detalle.medico_id}}</label>

			<label  class="control-label col-md-2">{{detalle.observaciones}}</label>
		</div>

		

	</div>

	{% endfor %}

{%endif%}

	<a href="/aplicacion/entrega/{{persona}}"><button  class="control-label col-md-2">Modificar</button></a>





{%endblock%}