{% extends "ABME/Paciente/menupaciente.html" %}




{% block contenido_paciente %}

 

{% if solicitudes   %}


<div class="">



<br>
<script type="text/javascript" charset="utf-8" async defer>

$('#modificar').hide(); 
$('#eliminar').hide();

</script>


 




<br> 
<div class="table-responsive">             
  <table id="example" class="table table-condensed  table-hover " cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th class="text-center">Fecha</th>
        <th class="text-center">Nombre Generico</th>
        <th class="text-center">Dosis Diaria</th>
        <th class="text-center">Medico</th>
        <th class="text-center">Estado de aprobacion</th>
        <th class=" text-center"></th>
        
      </tr>
    </thead>
    <tbody>
    {% for elemento in solicitudes %}
      <tr>
        
        <td class="col-md-2 text-center">{{elemento.fecha}}</td>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center"><input id='aprobacion_estado' type='button' id='aprobacion_estado' name='aprobacion_estado' value='{{elemento.estado_aprobacion}}'></input>
        <td class="col-md-1 text-center"><a href="/aplicacion/pdf_solicitud/{{elemento.id}}/">Exportar PDF</a>
      </tr>


     {% endfor %} 
      <tr>
        
        <td class="col-md-2 text-center"></td>
        <td class="col-md-2 text-center"></td>
        <td class="col-md-2 text-center"></td>
        <td class="col-md-2 text-center"></td>
        <td class="col-md-1 text-center"></a>
        <td class="col-md-2 text-center">
        {% for elemento in id_paciente %}<a href="/aplicacion/registrarsolicitud/{{elemento.persona_ptr_id}}">
            + Nueva Solicitud
            </a>
            {% endfor %}

            </div></a>
      </tr>
    </tbody>
  </table>
</div>
  
</div>
</div>

 {% else %}

                  <script>
               
                        alertify.set({ labels: {
                          ok     : "Confirmar",
                          cancel : "Cancelar"
                         } });
                        // confirm dialog
                        alertify.confirm("Este paciente no posee solicitudes ¿Desea crear solicitud?", function (e) {
    
                       if (e) {
                          window.location.href = "/aplicacion/registrarsolicitud/{{elemento.persona_ptr_id}}";
                        } else {
                          window.location.href = "/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}";
                        }});

                      </script>

 {% endif %}

<script  type="text/javascript" charset="utf-8" async defer>
  
$("input[id=aprobacion_estado]").click(function (){

"{% for elemento in solicitudes %}"
  
  var paciente_id="{{elemento.paciente_id}}";

"{% endfor %}"
  alertify.set({ labels: {
                          ok     : "Confirmar",
                          cancel : "Cancelar"
                         } });
                        // confirm dialog
                        alertify.confirm("<div class='container'><div class=' form-horizontal  col-md-offset-1'><div class='col-xs-3 '  sexo'><select class='form-control col-md-2 ' id='estado_aprobacion' name='estado_aprobacion'><option value='1'>EN PROCESO</option><option value='2'>ACEPTADO</option><option value='3'>DENEGADO</option></select></div></div></div>", function (e) {
    
                       if (e) {
                            var estado_nuevo = $("#estado_aprobacion").val();
                            
                        
                        } else {
                          window.location.href = "/aplicacion/solicitudes/"+paciente_id;
                        }});

 });
 

</script>
{% endblock contenido_paciente %}

