<div class="navbar navbar-inverse navbar-fixed">
  <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="/aplicacion/paciente">Pacientes</a></li>
          <li><a href="/aplicacion/medico">Medicos</a></li>
          <li><a href="/aplicacion/farmacia">Farmacia</a></li>
          <li> <a href="/aplicacion/usuario">Usuarios</a></li>
          <li> <a href="/aplicacion/registrarderivacion">Derivaciones</a></li>
          <li> <a href="/aplicacion/registrarsolicitud">Solicitud</a></li>
          <li><a href="/aplicacion/remediofecha">Solicitudes x fecha</a></li>
        </ul>
      </div>
  </div>
</div>