<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
        
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="titulo" href="">Servicio social</a>
      </div>

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    

      
      
      <li id='paciente' style="display:none; "> <a href="/aplicacion/paciente">Gestión de Pacientes</a></li>
      
      <li id='medico'  style="display:none;"><a href="/aplicacion/medico">Gestión de Medicos</a></li>
      
      <li id='farmacia' style="display:none;" ><a href="/aplicacion/farmacia">Gestión  de Farmacia</a></li>
      
      <li id='usuario' style="display:none;" > <a href="/usuario/operador">Gestión Usuarios</a></li>
      


      <li id='pendiente_entrega' style="display:none;"><a href="/aplicacion/farmacia_entrega">Solicitudes Pendientes</a>

      

      </li>
      
     
      
      <li id='entregado' style="display:none;"> <a href="/aplicacion/farmacia_entregados">Solicitudes Finalizadas</a></li>

       <li id='consultas' style="display:none;"> <a href="/aplicacion/entregados_solicitante">Consultas</a></li>
   
      {% if user.is_authenticated %}
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Usuario <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
         <li><a id='fichafarmacia' style="display:none;" href="/aplicacion/fichafarmacia/{{user.id}}/">Usuario: {{ user.username }}</a>
         <li><a id='fichaoperador' style="display:none;" href="/usuario/fichaoperador/{{user.id}}/">Usuario: {{ user.username }}</a>
        <!--
        <li id='cerrarsesionoperador' style="display:none;"><a href="/usuario/cerrar_sesion_operador/" ">Cerra Sesion</a></li>
        <li id='cerrarsesionfarmacia' style="display:none;"><a  href="/usuario/cerrar_sesion_farmacia/" >Cerra Sesion</a></li>
        -->
        <li ><a  href="/admin/password_change/" >Cambiar contraseña</a></li>
        <li ><a  href="/usuario/cerrar_sesion/" >Cerrar Sesion</a></li>
        
        </ul>
      </li>
      
         
    {% endif %}
    <li><a href="">Ayuda</a></li>

      <li class="dropdown">
        <ul class="dropdown-menu">
        <ul class="nav navbar-nav navbar-right">
         
          <li id='paciente' style="display:none; "> <a href="/aplicacion/paciente">Gestión de Pacientes</a></li>
      
      <li id='medico'  style="display:none;"><a href="/aplicacion/medico">Gestión de Medicos</a></li>
      
      <li id='farmacia' style="display:none;" ><a href="/aplicacion/farmacia">Gestión  de Farmacia</a></li>
      
      <li id='usuario' style="display:none;" > <a href="/aplicacion/usuario">Gestión Usuarios</a></li>
          
          <li id='usuario' style="display:none;"> <a href="/aplicacion/usuario">Usuarios</a></li>

          <li id='pendiente_entrega' style="display:none;"><a href="/aplicacion/farmacia_entrega">Pendientes de entrega</a></li>
          
          
          
          <li id='entregado' style="display:none;"> <a href="/aplicacion/farmacia_entregados">Entregados</a></li>

           <li id='consultas' style="display:none;"> <a href="/aplicacion/solicitud_consultas">Consultas</a></li>
        </ul>
      </li>
      
    </ul>

 
 
    
    </ul>
  </div>


        
          
            
    {% if user.userfarmacia.categoria == 'FARMACIA' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#pendiente_entrega').show();
          $('#entregado').show();
          $('#parciales').show();
          $('#consultas').show();
          $('#cerrarsesionfarmacia').show();
          $('#fichafarmacia').show();

   
        </script>
		 {% endif %}
	

  {% if user.useroperador.categoria == 'OPERADOR' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#paciente').show();
          $('#medico').show();
          $('#farmacia').show();
          $('#cerrarsesionoperador').show();
          $('#consultas').show();
          $('#fichaoperador').show();



        </script>
  

    {% endif %}
    
    {% if user.useroperador.categoria == 'SUPERVISOR' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#paciente').show();
          $('#medico').show();
          $('#farmacia').show();
          $('#cerrarsesionoperador').show();
          $('#consultas').show();
          $('#fichaoperador').show();
           $('#usuario').show();



        </script>
  

    {% endif %}


    {% if user.is_superuser %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#paciente').show();
          $('#medico').show();
          $('#farmacia').show();
          $('#cerrarsesionoperador').show();
          $('#consultas').show();


        </script>

       

        {% endif %}
   
        
       </ul>
      </div>
      
      </div>
    </nav>
