<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
        <div class="navbar-header" id='include_topadmin'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Servicio social</a>

          <ul class="nav navbar-nav navbar-right">
          <li id='paciente' style="display:none;"> <a href="/aplicacion/paciente">Pacientes</a></li>
          <li id='medico' style="display:none;"><a href="/aplicacion/medico">Medicos</a></li>
          <li id='farmacia' style="display:none;"><a href="/aplicacion/farmacia">Farmacia</a></li>
          <li id='usuario' style="display:none;"> <a href="/aplicacion/usuario">Usuarios</a></li>


          <li id='pendiente_entrega' style="display:none;"><a href="/aplicacion/farmacia_entrega">Pendientes</a></li>
          <li id='parciales' style="display:none;"> <a href="/aplicacion/farmacia_parciales">Parciales</a></li>
          <li id='entregado' style="display:none;"> <a href="/aplicacion/farmacia_entregados">Entregados</a></li>

        </ul>


        </div>

        <div class="navbar-header" style="display:none;" id='include_usuriocomun'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Servicio social</a>

          <ul class="nav navbar-nav navbar-right">
          <li id='paciente' style="display:none;"> <a href="/aplicacion/paciente">Pacientes</a></li>
          <li id='medico' style="display:none;"><a href="/aplicacion/medico">Medicos</a></li>
          <li id='farmacia' style="display:none;"><a href="/aplicacion/farmacia">Farmacia</a></li>
          <li id='usuario' style="display:none;"> <a href="/aplicacion/usuario">Usuarios</a></li>

        </ul>


        </div>




        
        <div id="navbar" class="navbar-collapse collapse">
        
          <ul class="nav navbar-nav navbar-right">
          
            
        {% if user.userfarmacia.categoria == 'FARMACIA' %}
          <script  type="text/javascript" charset="utf-8" async defer>
  
        
          $('#pendiente_entrega').show();
          $('#entregado').show();
          $('#parciales').show();


        </script>

       

        {% endif %}

            {% if user.is_authenticated %}
              
              <li><a>Usuario: {{ user.username }}</a></li>
              <li><a href="/usuario/cerrar_sesion/">Cerra Sesion</a></li>
            
              

            {% endif %}



            
            
            


            <li><a href="">Ayuda</a></li>
          </ul>
          
        </div>
        
      </div>
    </nav>