	
 

    
 <script  type="text/javascript"  src="{{ STATIC_URL }} /static/bootstrap/js/jquery-3.0.0.min.js"></script> 
    <script  type="text/javascript"  src="{{ STATIC_URL }} /static/bootstrap/js/jquery-migrate-3.0.0.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/jquery.validate.js"></script> 
    
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/additional-methods.js"></script> 
    
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/messages_es.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/chosen/chosen.jquery.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/jquery-ui-1.10.4.custom.js"></script>
   
   
    
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/alertifyjs/lib/alertify.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/DjangoAjax.js"></script>​

     <!-- <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/datepicker/js/bootstrap-datepicker.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/datepicker/js/moment.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/js/datepicker-es.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap/datepicker/js/less.min.js"></script>
  