 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
           <li><a href="/aplicacion/paciente">Pacientes</a></li>
            <li><a href="/aplicacion/medico">Medicos</a></li>
            <li><a href="/aplicacion/farmacia">Farmacia</a></li>
             <li><a href="/aplicacion/usuario">Usuarios</a></li>
             <li><a href="/aplicacion/registrarderivacion">Derivaciones</a></li>
             <li><a href="/aplicacion/registrarsolicitud">Solicitud</a></li>
             <li><a href="/aplicacion/remediofecha">Solicitudes x fecha</a></li>
             
          </ul>
        </div>