{% extends "index.html" %} 
{% block htitle %}<title>Busqueda Remedio</title>{% endblock %} 
{% block title %}<h1 class="page-header">Busqueda Remedio</h1>{% endblock %} 

{% block contenido%} 

  <div class="container">
  {% if errors %} 
		<ul> 
		{% for error in errors %} 
		<li style="color: red;">{{ error }}</li> 
		{% endfor %} 
		</ul> 
  {% endif %} 
  
  <form action="" method="GET" class="form-horizontal">
  
 		
	<div class="form-group">	
    <label for="valor" class="control-label col-md-2">Nombre: </label>
		<div class="col-md-5">	
	    <input class="form-control" type="text" name="valor" value="{{ query|escape }}">
	    </div>


    </div>


    	
    	<div class="">
    	<input name="buscar" class="form-control" type="submit" value="Buscar">
    	
    	
    </div>

  </form>
  </div>
{% if query %}
  <div class="container">
  <p>Estas buscado: <strong>{{ query }}</strong></p> 
 
{% if remedios %}
	
	<p>Remedios encontrados: {{ remedios|length }} remedio{{ remedios|pluralize }}.</p> 
	<ul> 
		{% for remedios in remedios %} 
	
	<div class="table-responsive" >

	<table class="table table-bordered table-condensed">
		<tr class="info">
			<th>Nombre</th>
			<th>Presentacion</th>
			<th>Observaciones</th>
			
		</tr>

		<tr>
			<!--td>{{pacientes.persona_ptr_id}}</td-->
			<td>{{remedios.generico}}</td>
			<td>{{remedios.presentacion}}</td>
			<td>{{remedios.observaciones}}</td>
			
		</tr>
	</table>
	</div>
	
			 
		{% endfor %} 
	</ul> 
{% else %} 
<p>Ningún remedio fue encontrado.</p> 
{% endif %} 
{% endif %} 
  
{%endblock%}