{% extends 'index.html'%}

{% block htitle %}<title>Usuario</title>{% endblock %} 
{% block title %}<h1 class="page-header">Usuario</h1>{% endblock %}{{ variable }}

{% block contenido%}
<a href="/aplicacion/registrarusuario"><button class="btn btn-primary">Registrar Usuario</button></a>
<a href=""><button class="btn btn-primary">Buscar Usuario</button></a>
<a href="/aplicacion/modificarusuario"><button class="btn btn-primary">Modificar Usuario</button></a>
<a href="/aplicacion/eliminarusuario"><button class="btn btn-primary">Eliminar Usuario</button></a>
{% endblock %}
