{% extends "index.html" %}

{% block contenido %}



<div class='panel panel-primary dialog-panel  '>
  <div class='panel-heading'><h5>Nueva solicitud</h5></div>
    <div class='panel-body'>
			
      <form id='miForm'  method="post" enctype="multipart/form-data" class="form-horizontal">
				{% csrf_token %}
				<br>
				<br>
				<br>


			<input class="form-control" id="usuario_id" name="usuario_id" type='hidden' value=""/>
    	    
	        <script type="text/javascript">$('#usuario_id').val(usuario_id);</script>

				<div class="form-group">
					<label for="paciente" class="control-label col-md-2 col-md-2 col-md-offset-2">Paciente:</label> 
					<div class="col-md-5">
						{% for elemento in id_paciente %}
						<input class="form-control" id="id_paciente" name="id_paciente" type="hidden" value="{{elemento.id}}"/>
						<input class="form-control"  type="text" readonly="readonly" value="{{elemento.apellido}}, {{elemento.nombre}}"/>
						{% endfor %}
					</div>
				</div>
        <br>
      
      <div id='div_medico'>
        <div class="form-group">
				  <label for="medico" class="control-label col-md-3  col-md-offset-1">Seleccione el medico a cargo:<font color="red"> *</font></label> 
					 <div class="col-md-5 text-left">
              <select name="id_medico" id="id_medico" class="form-control col-md-1 chosen-select  " data-placeholder="Busqueda..." required>             
                  <option value=""></option>
                  {% for elemento in medico_enviado %}
                  <option value="{{elemento.persona_ptr_id}}" >{{elemento.apellido}}, {{elemento.nombre}} --Dni: {{elemento.dni}}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
      </div>
		
        <br>
		  <div id='generico-1' >
        <div class="form-group medi1">
				    <label for="medicamento_1" class="control-label col-md-4  col-md-offset-0">Nombre generico del medicamento(1):<font color="red"> *</font></label> 
					   <div class="col-md-5 text-left ">
                <select name="medicamento1" id="medicamento1" class="form-control col-md-1  chosen1" data-placeholder="Busqueda..." required>             
                  <option value=""></option>
                  {% for elemento in medicamento_enviado %}
                  <option value="{{elemento.id}}" >{{elemento.generico}}</option>
                  {% endfor %}
                </select>
              </div>
              <a  data-toggle="modal" data-target="#myModal1" style="cursor:pointer">
          	 <img src="/static/img/icon_addlink.gif" alt="Agregar" height="10" width="10">
        	   </a>
        </div>

				<div class="form-group">
			     <label for="dosis" class="control-label col-md-2 col-md-2 col-md-offset-2">Dosis Diaria(1):<font color="red"> *</font></label>
			     <div class="col-md-5">
				      <input class="form-control" id="dosis1"  name="dosis1" type="text" />
			     </div>
		    </div>
      </div>
		
		    

      <div id='generico-2' style="display:none;">
		    <br>
		    <div class="form-group medi2">
				    <label for="medicamento_2" class="control-label col-md-4  col-md-offset-0">Nombre generico del medicamento(2):</label> 
					   <div class="col-md-5 text-left ">
                <select name="medicamento2" id="medicamento2" class="form-control col-md-1 chosen2 " data-placeholder="Busqueda..." >             
                    <option value=""></option>
                      {% for elemento in medicamento_enviado %}
                        <option value="{{elemento.id}}" >{{elemento.generico}}</option>
                      {% endfor %}


                </select>
             </div>

          
            <a  data-toggle="modal" data-target="#myModal2" style="cursor:pointer">
          		<img src="/static/img/icon_addlink.gif" alt="Agregar" height="10" width="10">
            </a>

              
        		
          
           
		    
        </div>

		    <div class="form-group">
			     <label for="dosis" class="control-label col-md-2 col-md-2 col-md-offset-2">Dosis Diaria(2):</label>
			     <div class="col-md-5">
				      <input class="form-control" id="dosis2"  name="dosis2" type="text" />
			     </div>
		    </div>
		   <br> 
      </div>
       

      <div id='generico-3' style="display:none;">
		
        <div class="form-group medi3 ">
				  <label for="medicamento_3 " class="control-label col-md-4  col-md-offset-0">Nombre generico del medicamento(3):</label> 
					<div class="col-md-5 text-left ">
              <select name="medicamento3" id="medicamento3" class="form-control col-md-1 chosen3 " data-placeholder="Busqueda..." >             
                <option value=""></option>
                {% for elemento in medicamento_enviado %}
                <option value="{{elemento.id}}" >{{elemento.generico}}</option>
                {% endfor %}
              </select>

              
          </div>
          <a  data-toggle="modal" data-target="#myModal3" style="cursor:pointer">
          	<img src="/static/img/icon_addlink.gif" alt="Agregar" height="10" width="10">
        	</a>
		    </div>

		    <div class="form-group">
			     <label for="dosis" class="control-label col-md-2 col-md-2 col-md-offset-2">Dosis Diaria(3):</label>
			     <div class="col-md-5">
				      <input class="form-control" id="dosis3" name="dosis3" type="text" />
			     </div>
		    </div>
		    <br>

      </div>

		    <!-- Modal MEDICAMENTO 1 -->
				  <div id="myModal1" class="modal fade" role="dialog">
  					 <div class="modal-dialog">
              <!-- Modal content-->
    					 <div class="modal-content">
      						  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
        						    <h4 class="modal-title">Registrar nuevo medicamento</h4>
      						  </div>
      				
      						  <div class="modal-body">
        						  <div class="form-group">
									       <br>
				                  <label for="paciente" class="control-label  col-md-4 col-md-offset-0">Nombre Generico:</label> 
					               <div class="col-md-7 col-md-offset-0">
						                <input class="form-control" id="generico1" name="generico1" type="text" value="" placeholder="Escriba aqui..." />
					               </div>
                      </div>
                    </div>
      				
      				      <div class="modal-footer">
        				      <button type="button" id='guardar1' class="btn btn-primary" data-dismiss="modal">Guardar</button>
      				      </div>
    				    </div>
              </div>
				  </div>

			
          <!-- Modal MEDICAMENTO 2-->
				    <div id="myModal2" class="modal fade" role="dialog">
  					   <div class="modal-dialog">
                  <!-- Modal content-->
    					   <div class="modal-content">
      						  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
        						  <h4 class="modal-title">Registrar nuevo medicamento</h4>
      						  </div>
      				
      						<div class="modal-body">
        						  <div class="form-group">
									       <br>
				                  <label for="paciente" class="control-label  col-md-4 col-md-offset-0">Nombre Generico:</label> 
					               <div class="col-md-7 col-md-offset-0">
						               <input class="form-control" id="generico2" name="generico2" type="text" value="" placeholder="Escriba aqui..." />
					               </div>
                      </div>
                  </div>
      				    
                  <div class="modal-footer">
        						<button type="button" id='guardar2' class="btn btn-primary" data-dismiss="modal">Guardar</button>
      						</div>
    					   </div>

  					   </div>
				    </div>

				  <!-- Modal MEDICAMENTO 3-->
				    <div id="myModal3" class="modal fade" role="dialog">
  					   <div class="modal-dialog">
        	         <!-- Modal content-->
    					     <div class="modal-content">
      						    <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
        						      <h4 class="modal-title">Registrar nuevo medicamento</h4>
      						    </div>
      				      <div class="modal-body">
        						
        						  <div class="form-group">
									       <br>
				                  <label for="paciente" class="control-label  col-md-4 col-md-offset-0">Nombre Generico:</label> 
					                 <div class="col-md-7 col-md-offset-0">
						              <input class="form-control" id="generico3" name="generico3" type="text" value="" placeholder="Escriba aqui..." />
						              </div>
                       </div>
                    </div>
      				      <div class="modal-footer">
        					     <button type="button" id='guardar3' class="btn btn-primary" data-dismiss="modal">Guardar</button>
      				      </div>
    				      </div>
                </div>
				    </div>

          <div id='auditoria'>

		        <div class="form-group">
               <label for="dosis" class="control-label col-md-2 col-md-2 col-md-offset-2">Requiere Auditoría:<font color="red"> *</font></label>
               <div class="col-md-5">
                  <div class="col-md-2">
                    No<input type="radio" name="estado" id='estado1' value="APROBADO" checked>
                  </div>
                  <div class="col-md-2">
                    Si<input type="radio" name="estado" id='estado2' value="AUDITORIA">
                  </div>
              </div>
            </div>
          </div>
           
        <div id='agregar_medicamento'> 
          <div class="form-group ">
            <div class='col-md-offset-7' >
            <a  id='boton' style="cursor:pointer">+ Agregar medicamento</a>
            <br>
            
           
            </div>
          </div>
        </div>

        <div id='deshacer' style="display:none;"> 
          <div class="form-group">
            <div class='col-md-offset-7'>
            <a  id='deshacer' style="cursor:pointer"><font color="red">- Deshacer anterior</font></a>
            </div>
          </div>

        </div>
        
      <br>
            <div class="form-group">
                <label for="observaciones" class="control-label col-md-2 col-md-2 col-md-offset-2">Diagnostico:<font color="red"> *</font></label> 
	               <div class="col-md-5">
	                   <textarea class="form-control" cols="40" id="diagnostico" name="diagnostico" rows="10"></textarea>
	               </div>
            </div>

            <div class="form-group">
	             <div class='col-md-offset-8 col-md-3'>
                <br>
                  <button id='solicitar' class='btn-lg btn-primary' style='float:right' type='submit'>Solicitar</button>
              </div>
            </div>

      </form>
  </div>
</div>




<script  type="text/javascript" charset="utf-8" async defer>
   
$("#miForm").keypress(function(e) {
        if (e.which == 13) {
            return false;
        }
    });

$("#solicitar").keypress(function(e) {
        if (e.which == 13) {
            $('#miForm').submit();
        }
    });

  
function ajax_funcion(generico,z){
    
    $.ajax({
        
        url: '/aplicacion/registrarmedicamento/',
        type: 'POST',
        data: {'generico':generico,},


        success: function (datos) {

            if(datos.ban=='si'){
                
                if(z==1){
                    $("#medicamento1").append("<option value="+datos.id+" selected='selected'>"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento2").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento3").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
               
                }else if(z==2){

                    $("#medicamento1").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento2").append("<option value="+datos.id+" selected='selected'>"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento3").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
                
                }else if(z==3){
                    $("#medicamento1").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento2").append("<option value="+datos.id+" >"+datos.generico+"</option>").trigger("chosen:updated");
                    $("#medicamento3").append("<option value="+datos.id+" selected='selected'>"+datos.generico+"</option>").trigger("chosen:updated");
                }
            
            }else if(datos.ban=='no'){

                if(z==1){
                  
                  $(".chosen1").chosen("destroy");
                  $('#medicamento1 > option[value='+datos.id+']').attr('selected', true).trigger("chosen:updated");
                  $('.chosen1').chosen().change();

                }else if(z==2){
                  $(".chosen2").chosen("destroy");
                  $('#medicamento2 > option[value='+datos.id+']').attr('selected', true).trigger("chosen:updated");
                  $('.chosen2').chosen().change();

                }else if(z==3){
                  $(".chosen3").chosen("destroy");
                  $('#medicamento3 > option[value='+datos.id+']').attr('selected', true).trigger("chosen:updated");
                  $('.chosen3').chosen().change();
                }

            }



        }

    });

}
 	
   $("button[id=guardar1]").click(function () {
   		
   		
   		var generico=$('#generico1').val();

      ajax_funcion(generico,1);
   		
   		

   	});

 	
 	$("button[id=guardar2]").click(function () {
   		
   		
   		var generico=$('#generico2').val();
   		
   		ajax_funcion(generico,2);

  });

   	$("button[id=guardar3]").click(function () {
   		
   		
   		var generico=$('#generico3').val();
   		
   		ajax_funcion(generico,3);

   	});
   

</script>

 <script type="text/javascript">
  

  var contador=1;
  $(".chosen-select").chosen();//Activa la funcion de select-chosen
  $(".chosen1").chosen();
  $("#miForm").validate({
      errorClass: "claserror",
      validClass: "clasevalida",
      errorElement: 'erele',
      ignore: ':hidden:not("select")',
      rules: {
              dosis1: {required: true,},
              medicamento1:{required:true,},
              diagnostico:{required:true,},
      }

  });



  

function add_required(contador){

    if(contador==2){

      $("#medicamento2").prop('required',true);
      $("#dosis2").prop('required',true);
  
    }
    if(contador==3){

      $("#medicamento3").prop('required',true);
      $("#dosis3").prop('required',true);
    }

}

function remove_required(contador){

    if(contador==2){

      $("#dosis3").prop('required',false);
      $("#medicamento3").prop('required',false);
  
    }

    if(contador==1){

      $("#dosis2").prop('required',false);
      $("#medicamento2").prop('required',false);
  
    }
    

}


    
  $( '#estado1' ).on( 'click', function() {
                                  
      if( $(this).is(':checked') ){
                            
        $('#agregar_medicamento').show();
             
      }
  });

  
  $( '#estado2' ).on( 'click', function() {
                                  
      if( $(this).is(':checked') ){

        $('#agregar_medicamento').hide();
                            

        }
  });
                                
                                
  $("a[id=boton]").click(function () {
  
      
      contador=contador+1;
      $('#auditoria').hide();

      if(contador==2){

          $('#generico-2').show();
          $(".chosen2").chosen("destroy");
          $('.chosen2').chosen().change();
          add_required(contador);

      }
          
      if(contador==3){
            
          
          $('#generico-3').show();
          $('#agregar_medicamento').hide();
          $(".chosen3").chosen("destroy");
          $('.chosen3').chosen().change();
          add_required(contador);

      }

      
      
      if(contador==1){

          $('#deshacer').hide();

      }else{

          $('#deshacer').show();

      }

      $('#miForm').validate().resetForm();

  });

        
  $("a[id=deshacer]").click(function () {
      
    
    if(contador==2){

      contador=contador-1;
      $('#auditoria').show();
      $('#generico-2').hide();
      $('#dosis2').val(''); 
      $('#medicamento2').val('').trigger('chosen:updated');
      remove_required(contador);

    }
          
    if(contador==3){
            
      $('#generico-3').hide();
      contador=contador-1;
      $('#agregar_medicamento').show();
      $('#medicamento3').val('').trigger('chosen:updated');
      $('#dosis3').val('');
      remove_required(contador);
    }
    
    console.log(contador);
    
    if(contador==1){
    
      $('#deshacer').hide();

    }else{

      $('#deshacer').show();

    }

    $('#miForm').validate().resetForm();

        
});

$("button[id=solicitar]").click(function () {
      
      if($("#miForm").valid()==false){

  
          $(".chosen-select").chosen("destroy");
          $(".chosen-select").chosen();
          $(".chosen1").chosen("destroy");
          $(".chosen1").chosen();
          $(".chosen2").chosen("destroy");
          $(".chosen2").chosen();
          $(".chosen3").chosen("destroy");
          $(".chosen3").chosen();

          
          $("select[name=id_medico]").change(function(){
            
            $("#miForm").valid();
           
          });

          $("select[name=medicamento1]").change(function(){
            
            $("#miForm").valid();
           
          });

          $("select[name=medicamento2]").change(function(){
            
            $("#miForm").valid();
           
          });

          $("select[name=medicamento3]").change(function(){
            
            $("#miForm").valid();
           
          });
          
 
        

          $('#miForm').validate().resetForm();
         

        }

});





</script>


{% endblock %}