{% extends "ABME/Paciente/menupaciente.html" %}




{% block contenido_paciente %}

 

{% if solicitudes   %}



<script type="text/javascript" charset="utf-8" async defer>
$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide();
$('#nueva_solicitud').show();
</script>


 


<div class="table-responsive">
<table style="cursor:pointer" class='table' id='table' data-pagination="true" data-height="440" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
             
  <!--table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%"-->
    <thead>
      <tr><!--class="default"-->

        <th class="text-center">Solicitud</th>
        <th class="text-center">Fecha de inicio</th>
        <th class="text-center">Medico</th>
        <th class="text-center">Estado de aprobacion</th>
       
      </tr>

    </thead>
    <tbody>
    {% for elemento in solicitudes %}
      
    {% ifequal elemento.estado_aprobacion "APROBADO" %}
    
<tr>
      <!--tr class='success' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer" -->
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >N°{{elemento.id}}</td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.estado_aprobacion}}</td>
       
      </td>
    </tr>
      {% endifequal %}

    {% ifequal elemento.estado_aprobacion "ENTREGADO" %}
    

      <!--tr class='info' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer" -->
      <tr>
        <td class="col-md-2 text-center warning clickable-row table-hover" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >N° {{elemento.id}} </td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.estado_aprobacion}}</td>
        
      </td>
    </tr>
      {% endifequal %}

      {% ifequal elemento.estado_aprobacion "AUDITORIA" %}
    
<tr>
      <!--tr class='info' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer"-->
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >N° {{elemento.id}}</td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >REQUIERE AUDITORIA</td>
        
      </td>
    </tr>
      {% endifequal %}


      {% ifequal elemento.estado_aprobacion "CANCELADO" %}
    <!--tr class='danger' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer"-->
<tr>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >N° {{elemento.id}}</td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.estado_aprobacion}}</td>
    </tr>
      {% endifequal %}
 

      {% ifequal elemento.estado_aprobacion "PARCIAL" %}
    <!--tr class='warning' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer"-->
<tr>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >N° {{elemento.id}}</td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center warning clickable-row" data-href='/aplicacion/fichasolicitud/{{elemento.id}}' >HUBO ENTREGA PARCIAL</td>
    </tr>
      {% endifequal %}
 

     {% endfor %} 
      <tr>
        
       
       
            </div>
            </a>
      </tr>
    
    </tbody>
  </table>
</div>
  
</div>



 {% else %}

                  <script>
               
                        alertify.set({ labels: {
                          ok     : "Confirmar",
                          cancel : "Cancelar"
                         } });
                        // confirm dialog
                        alertify.confirm("Este paciente no posee solicitudes ¿Desea crear solicitud?", function (e) {
    
                       if (e) {
                          window.location.href = "/aplicacion/registrarsolicitud/{{elemento.persona_ptr_id}}";
                        } else {
                          window.location.href = "/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}";
                        }});
                      </script>

 {% endif %}

<script>$('#table').bootstrapTable();


$(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
</script>
{% endblock contenido_paciente %}
