{% extends "index.html" %}

{% block contenido %}

{% if refrescar %}

<script type="text/javascript" charset="utf-8" async defer>

window.location.href = "/aplicacion/fichasolicitud/{{refrescar}}/";


</script>

{% endif %}

<div class="container">
<div class='panel  panel-danger dialog-panel  '>
      <div class='panel-heading'>
        <h5><b>Cancelar solicitud</b></h5>
      </div>
      		<div class='panel-danger'>
      		
				<form  method="POST" enctype="multipart/form-data" class="form-horizontal">

				{% csrf_token %}
				<br>
				<br>
				<br>

				<div class="form-group">
					<label for="paciente" class="control-label col-md-2 col-md-2 col-md-offset-2">Solicitud N°</label> 
					<div class="col-md-5">
						{% for elemento in solicitud_enviado %}
						<input class="form-control" id="id_paciente" name="id_paciente" type="hidden" value="{{elemento.id}}"/>
						<input class="form-control"  type="text" readonly="readonly" value="{{elemento.id}}"/>
						{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<label for="paciente" class="control-label col-md-2 col-md-2 col-md-offset-2">Paciente:</label> 
					<div class="col-md-5">
						{% for elemento in id_paciente%}
						<input class="form-control" id="id_paciente" name="id_paciente" type="hidden" value="{{elemento.id}}"/>
						<input class="form-control"  type="text" readonly="readonly" value="{{elemento.apellido}}, {{elemento.nombre}}"/>
						{% endfor %}
					</div>
				</div>
				<br>
				<div class="form-group">
					<label for="comcancelado" class="control-label col-md-3 col-md-offset-1">Motivo de Cancelacion*:</label> 
					<div class="col-md-5">
					<textarea class="form-control" cols="40" id="comcancelado" name="comcancelado" rows="10"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class='col-md-offset-8 col-md-3'>
             	 <br>
             
              		<button class='btn-lg btn-primary' style='float:right' type='submit'>Continuar</button>
            		</div>
				</div>

				</form>
				</div>
				</div>
			</div>

{% endblock %}