{% extends "ABME/Paciente/menupaciente.html" %}




{% block contenido_paciente %}

 

{% if solicitudes   %}



<script type="text/javascript" charset="utf-8" async defer>

$('#modificar').hide(); 
$('#eliminar').hide();
$('#derivaciones').hide();
$('#nueva_solicitud').show();
</script>

<style type="text/css">
  .tachado{text-decoration:line-through;}
 
  .rojocolor{background:#FA5858;}
  .amarillocolor{background:#F3F781;}
  .entregadocolor{background:#01A9DB}
  .aprobadocolor{background: #81F781;}
  .parcial{background: #FAAC58 }

  .headertabla{background:#A9E2F3;}


tr.resaltar {
    
    cursor: pointer;
   
}

</style>
 


<div class="table-responsive">             
  <table id="example" class="table table-condensed table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr  class="success">
        <th class="text-center">Fecha</th>
        <th class="text-center">Nombre Generico</th>
        <th class="text-center">Dosis Diaria</th>
        <th class="text-center">Medico</th>
        <th class="text-center">Estado de aprobacion</th>
       
      </tr>

    </thead>
    <tbody>
    {% for elemento in solicitudes %}
      
    {% ifequal elemento.estado_aprobacion "APROBADO" %}
    

      <tr class='aprobadocolor' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer" >
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center">{{elemento.estado_aprobacion}}</td>
       
      </td>
    </tr>
      {% endifequal %}

    {% ifequal elemento.estado_aprobacion "ENTREGADO" %}
    

      <tr class='entregadocolor' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer" >
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center">{{elemento.estado_aprobacion}}</td>
        
      </td>
    </tr>
      {% endifequal %}

      {% ifequal elemento.estado_aprobacion "ENPROGRESO" %}
    

      <tr class='amarillocolor' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer">
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center">EN PROGRESO</td>
        
      </td>
    </tr>
      {% endifequal %}


      {% ifequal elemento.estado_aprobacion "CANCELADO" %}
    

      <tr class='tachado rojocolor' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer">
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center">{{elemento.estado_aprobacion}}</td>
       
      </td>
    </tr>
      {% endifequal %}
 

      {% ifequal elemento.estado_aprobacion "PARCIAL" %}
    

      <tr class='parcial' onclick="document.location='/aplicacion/fichasolicitud/{{elemento.id}}'"  style="cursor:pointer">
        <td class="col-md-2 text-center">{{elemento.fecha}}</td> </strike>
        <td class="col-md-2 text-center">{{elemento.remedio}}</td>
        <td class="col-md-2 text-center">{{elemento.dosis}}</td>
        <td class="col-md-2 text-center">{{elemento.medico.apellido}}, {{elemento.medico.nombre}} </td>
        <td class="col-md-2 text-center">ENTREGA PARCIAL</td>
        
      </td>
    </tr>
      {% endifequal %}
 

     {% endfor %} 
      <tr>
        
       
       
            </div>
            </a>
      </tr>
    
    </tbody>
  </table>
</div>
  
</div>



 {% else %}

                  <script>
               
                        alertify.set({ labels: {
                          ok     : "Confirmar",
                          cancel : "Cancelar"
                         } });
                        // confirm dialog
                        alertify.confirm("Este paciente no posee solicitudes ¿Desea crear solicitud?", function (e) {
    
                       if (e) {
                          window.location.href = "/aplicacion/registrarsolicitud/{{elemento.persona_ptr_id}}";
                        } else {
                          window.location.href = "/aplicacion/fichapaciente/{{elemento.persona_ptr_id}}";
                        }});

                      </script>

 {% endif %}


{% endblock contenido_paciente %}

