{% extends 'index.html'%}
{% block htitle %}<title>MGD</title>{% endblock %} 

{% block contenido%}




      <div class='panel panel-primary dialog-panel'>
          <div class='panel-body'>

              
                 <div>Realize la busqueda de consulta con el numero de dni o el apellido y nombre del solicitante y seleccione periodo de fecha.
                 </div>
                 <br>
                 <br>
                 
    <div id='miForm' class="form-horizontal">
        
        <br>
        <br>
        

        

    <div class="form-group">
          <label  class="control-label col-md-2 col-md-2 col-md-offset-2">Solicitante:<font color="red"> *</font></label> 
           <div class="col-md-4 text-left">
              <select name="id_paciente" id="id_paciente" class="form-control col-md-1 chosen-select " data-placeholder="Busqueda..." required>             
                  <option value=""></option>
                  {% for elemento in busqueda_paciente %}
                  <option value="{{elemento.persona_ptr_id}}" >{{elemento.apellido}}, {{elemento.nombre}} --Dni: {{elemento.dni}}</option>
                  {% endfor %}
              </select>
            </div>
    </div> 
        <br>
            
      <div class="form-group">

          <label for="paciente" class="control-label  col-md-1 col-md-offset-2">Desde:</label> 
          <div class='col-md-2'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' name='desde_fecha' type='text' id='desde_fecha'
                  placeholder='dd/mm/yyyy' >
                  <span class='input-group-addon'>
                    <i class='glyphicon glyphicon-calendar'></i>
                  </span>
                </div>
          </div>
          
           <label for="paciente" class="control-label  col-md-1 col-md-offset-0">Hasta:</label> 
          <div class='col-md-2'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' name='hasta_fecha' type='text' id='hasta_fecha'
                  placeholder='dd/mm/yyyy' >
                  <span class='input-group-addon'>
                    <i class='glyphicon glyphicon-calendar'></i>
                  </span>
                </div>
          </div>

          <div class="col-md-1 col-md-offset-0">
                <button class="btn btn-primary" id='consultar'>Consultar</button>
            </div>
          
      </div>

     
        
      </div>

      </div>
    </div>


<script type="text/javascript" charset="utf-8" async defer>


  $('#desde_fecha').datepicker({
  dateFormat: 'dd/mm/yy',
  changeYear: true,
  changeMonth: true,
  yearRange: "1900:2100",
  
    });

  $('#hasta_fecha').datepicker({
  dateFormat: 'dd/mm/yy',
  changeYear: true,
  changeMonth: true,
  yearRange: "1900:2100",
  
    });

 $("button[id=consultar]").click(function () {

  var id_paciente = $("#id_paciente").val();
  var desde_fecha = $("#desde_fecha").val();
  var hasta_fecha = $("#hasta_fecha").val();

    $.ajax({

        
        url: '/aplicacion/consultas_solicitante/',// Ruta del views donde se enviara.
        
        type: 'POST',//Metodo de envio, si es por GET o POST
        data: {'id_paciente':id_paciente,'desde_fecha':desde_fecha,'hasta_fecha':hasta_fecha}, //Dato que se envia. 


        //si funciona correctamente se podra ejecutar success.
        success: function (datos) {
            
          
          //Agrega un option mas al select y utilizamos los valores que devuelve el view.
         

              
        }


            

    });//Termina ajax

});

</script>


        

{% if user.is_authenticated %}
              
              
<script  type="text/javascript" charset="utf-8" async defer>
                
$(".chosen-select").chosen({no_results_text: "No existe ese paciente"});


var user_id="{{user.userfarmacia.id}}";
var user_id_farmacia=parseInt(user_id);
              
$( "#user_id_farmacia1" ).val(user_id_farmacia);
$( "#user_id_farmacia2" ).val(user_id_farmacia);

</script>
            

{% endif %}






{% endblock %}